{% extends "lwt/__base.html" %}

{% block pagetitle %}
<select id="quickmenu" onchange="{var qm = document.getElementById('quickmenu'); 
								var val=qm.options[qm.selectedIndex].value; 
								qm.selectedIndex=0; 
								if (val != '')
								     { top.location.href = val ;}}">
<option value="" selected="selected">[Menu]</option>
<option value="{% url "homepage" %}">Home</option>
<option value="{% url "text_list" %}">Texts</option>
<option value="{% url "archivedtext_list" %}">Text Archive</option>
<option value="{% url "texttag_list" %}">Text Tags</option>
<option value="{% url "language_list" %}">Languages</option>
<option value="{% url "term_list" %}">Terms</option>
<option value="{% url "termtag_list" %}">Term Tags</option>
<option value="{% url "statistics" %}">Statistics</option>
<option value="{% url "textcheck" %}">Text Check</option>
<option value="{% url "longtextimport" %}">Long Text Import</option>
<option value="{% url "termimport" %}">Term Import</option>
<option value="{% url "backuprestore" %}">Backup/Restore</option>
<option value="{% url "settings" %}">Settings</option>
<option value="{% url "help" %}">Help</option>
</select>
{% endblock pagetitle %}