{% load static %}
{% load i18n %} {# used for internationalization #}

<div class="d-flex">

<div class="p-2">
<img class="hover_pointer" onclick="location.href='{% url 'homepage' %}';" src="{% static 'lwt/img/site-icon_64x64.png' %}"  title="{% trans 'Homepage' %}" alt="LingL" />
</div>

<div class="p-2">
{% include 'lwt/_menu.html' %}
</div>

<div class="p-2">
{% if request.user.is_authenticated %}{% trans 'Welcome, ' %}'<a title="{% trans 'Edit profile' %}" href="{% url 'profile' %}?id={{ request.user.id }}">{{ request.user.username }}</a>' 
<a name="logout" title="{% trans 'logging out' %}" href="/accounts/logout/"><img src="{% static 'lwt/img/icn/logout.png' %}" alt="logout" /> {% trans 'Logout' %}</a>
{% else %}<a href="/accounts/login">Login</a>{% endif %}
</div>

<div class="ml-auto small">

{% if appversion.is_outdated %}
<img src="{% static 'lwt/img/icn/exclamation-red.png'%}" alt="exclamation-red" /> <span title="{% trans "Your LingL version is outdated. Go to 'https://github.com/gustavklopp/LingL/releases' to download the latest version" %}" class="bg-warning">
{% blocktrans with current_date=appversion.current_date  %}This is LingL <span class="font-weight-bold">Version {{ current_date }}</span>&nbsp;&nbsp;{% endblocktrans %}</span>
{% else %}
<span title="{% trans 'You have the latest release.' %}">{% blocktrans with current_date=appversion.current_date %}This is LingL <span class="font-weight-bold">Version {{ current_date }}</span>&nbsp;&nbsp;{% endblocktrans %}</span>
{% endif %}
</div>

</div>

<script type="text/javascript">
if (! areCookiesEnabled()) document.write('<p class="red">*** Cookies are not enabled! Please enable! ***</p>');
	</script>