{% load static %}
{% load i18n %} {# used for internationalization #}
{% load djangoversion %}
{% load pythonversion %}		
<p class="smallgray graydotted">&nbsp;</p>
<table id="footlicence"><tr>
<td class="width50px"><a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.en.html"><img alt="Public Domain" title="Public Domain" src="{% static 'lwt/img/gplv3.png' %}" /></a></td>
<td><p class="small"><a href="https://github.com/gustavklopp/LingL" target="_blank">LingLibre ("LingL")</a> is free and opensource software released<br />
under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU General Public Licence </a>.<br />
{% if user.is_authenticated and request.path != '/accounts/logout/' %}<a href="https://en.wikipedia.org/wiki/Database" target="_blank">{% trans "Database"%}
</a> 
{% trans "Size" %}: <span class="{% if database_size.database_health == 'HEALTHY' %}bg-light{% endif %}
				{% if database_size.database_health == 'NOTICE' %}bg-success{% endif %}
				{% if database_size.database_health == 'WARNING' %}bg-warning{% endif %}
				{% if database_size.database_health == 'DANGER' %}bg-danger{% endif %}
				" title="{{ database_size.database_message }}">&nbsp;{% load l10n %}
		{% if database_size.database_size == 0 %}
			{% trans 'Empty' %}
		{% else %}
			{% load humanize %}
			{% blocktranslate with counter_loc=database_size.database_size|intcomma count counter=database_size.database_size %}
			1 word
			{% plural %}
			{{ counter_loc }} words
			{% endblocktranslate %}
		{% endif %}&nbsp;</span>
<br />{% endif %}
{% trans "Proudly built with" %} <a href="https://www.djangoproject.com/" target="_blank">{% trans "Django" %}</a> {% trans "version" %} {% version_django %}, {% trans "based on "%}<a href="https://www.python.org/" target="_blank">Python</a> {% version_python %}<br />
</p>
</td>
	</tr></table>