{% load static %}
{% load i18n %} {# used for internationalization #}
{% load djangoversion %}
{% load pythonversion %}
<select id="quickmenu" onchange="{var qm = document.getElementById('quickmenu'); 
								var val=qm.options[qm.selectedIndex].value; 
								qm.selectedIndex=0; 
								if (val != '')
								     { top.location.href = val ;}}">
<option value="" selected="selected">{% trans '[Menu]' %}</option>
<option value="{% url "homepage" %}">{% trans 'Home' %}</option>
<option value="{% url "language_list" %}">{% trans 'Languages' %}</option>
<option value="{% url "text_list" %}">{% trans 'Texts/Webpages' %}</option>
<option value="{% url "term_list" %}">{% trans 'Terms' %}</option>
<option value="{% url "statistics" %}">{% trans 'Statistics' %}</option>
<option id="anki" value="{% url "export2anki" %}">{% trans 'Export to Anki' %}</option>
<option value="{% url "backuprestore" %}">{% trans 'Backup/Restore' %}</option>
<option value="{% url "profile" %}?id={{ request.user.id }}">{% trans 'Profile' %}</option>
<option value="{% url "helppage" %}">{% trans 'Help' %}</option>
</select>