{% load static %}
{% load i18n %} {# used for internationalization #}

<div hidden id="checkfocus_for_keyboardshortcut">This is used to check that this panel has loaded</div>
{% if API_name == 'pons' %} {# Pons API needs its own stylesheet #}
<link rel="stylesheet" type="text/css" href="{% static 'lwt/css/API_pons.css' %}">
{% elif API_name == 'dictcc' %} 
<link rel="stylesheet" type="text/css" href="{% static 'lwt/css/API_dictcc.css' %}">
{% elif API_name == 'wordref' %} 
<link rel="stylesheet" type="text/css" href="{% static 'lwt/css/API_wordref.css' %}">
{% endif %}

{% static 'lwt/img/icn/tick-button.png' as tick_button %}
{% blocktrans %}
<p><small>(Click word(s) beside the <img src="{{ tick_button }}" alt="Copy" /> to copy as a translation or 
use <span class="text-muted">[keyboard shortcuts nb]</span>)</small></p>
{% endblocktrans %}

{% if API_name == 'pons' %}
	<div id="pons">
	{{ translation_result|safe }}
	</div>
{% elif API_name == 'dictcc' %}
	<div id="dictcc">
	{{ translation_result|safe }}
	</div>
{% elif API_name == 'wordref' %}
	<div id="wordref">
	{{ translation_result|safe }}
	</div>
{% else %}
	{{ translation_result|safe }}
{% endif %}
	
<script type="text/javascript">
function addTranslation(s) {
	var c = $('#id_translation');
	if (typeof c != 'object') {
		alert ('Translation can not be copied!');
		return;
	}
	var oldValue = c.val();
	if (oldValue.trim() == '') {
		$('#id_translation').val(s); // nothing here, put the new value
	}
	else {
		if (oldValue.indexOf(s) == -1) {
			c.value = oldValue + ' / ' + s;
			$('#id_translation').val(c.value); // already something inside (and different). append it
		}
		else {
			if (confirm(s +' = {% trans "Seems already to exist as a translation.\nInsert anyway?" %}')) { 
				c.value = oldValue + ' / ' + s;
				$('#id_translation').val(c.value); // already something inside, the SAME!!. but append it anyway...)
			}
		}
	}
}
</script>
