{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}

{% block pagetitle %}{% trans 'Backup & Restore' %} | {{ block.super }}{% endblock pagetitle %}

{% block banner %}
{% include "lwt/_banner.html" %}
{% endblock banner %}

{% block content %}
<form enctype="multipart/form-data" action="{% url 'backuprestore'%}" method="post" onsubmit="return confirm('Are you sure?');">
{% csrf_token %}
<table  class="table table-bordered">
<tr>
<!--  BACKING UP -->
<th>Backup</th>
<td>
<p >
The data from your account will be exported to a gzipped YAML file.<br />Please keep this file in a safe place.<br />If necessary, you can recreate the data via the Restore function below.</p>
<!--<p>Important: If the backup file is too large, the restore may not be possible (see limits below).</p>-->
<p >&nbsp;<br /><button class="btn btn-primary" type="submit" name="backingup" value="backingup">Download Backup</button>
</td>
</tr>
<!--  RESTORE FROM BACKUP -->
<tr>
<th>Restore</th>
<td>
<p >
All data in your account will be <b>replaced</b> by the data in the specified backup file<br />(gzipped file, created above).<br />
<!--    <br /><span class="smallgray">Important: If the backup file is too large, the restore may not be possible.<br />Upload limits (in bytes): <b>post_max_size = <?php echo ini_get('post_max_size'); ?> / upload_max_filesize = <?php echo ini_get('upload_max_filesize'); ?></b><br />-->
<!--If needed, increase in "<?php echo tohtml(php_ini_loaded_file()); ?>" and restart server.<br />&nbsp;</span></p>-->
{{ form.restore_file }} 
<p >&nbsp;<br /><span class="red2">YOU MAY LOSE DATA - BE CAREFUL: &nbsp; &nbsp; &nbsp;</span> 
<button  class="btn btn-danger" type="submit" name="restore" value="restore">Restore from Backup</button>
</td>

<!--  RESTORE FROM OLD LWT -->
<tr>
<th>Import<br />from LWT</th>
<td>
<p >
The data from the LWT will be added to your account.</p>
{{ form.import_oldlwt }} 
<p class="right">&nbsp;<br /><button class="btn btn-primary" type="submit" name="import_oldlwt" value="import_oldlwt">Import data from LWT</button>
</td>
</tr>

<!--  IMPORT LINGL DEMO -->
<tr>
<th >Install<br />LingL Demo</th>
<td >
<p >
All data in your account will be <b>replaced</b> by the LingL demo dataset.</p>
<p class="right">&nbsp;<br /> 
<button class="btn btn-danger" type="submit" name="install_demo" value="install_demo">Install LingL Demo</button>
</td>
</tr>

<!--  DELETE ACCOUNT -->
<tr>
<th>Delete<br />Your Account</th>
<td>
<p><b>Delete</b> your account and all the texts, languages associated with it.</p>
<p class="right">&nbsp;<br /><span class="red2">YOU LOSE ALL YOUR DATA - BE CAREFUL: &nbsp; &nbsp; &nbsp;</span>
<button class="btn btn-danger" type="submit" name="empty" value="empty">Delete My Account</button>
</td>
</tr>
</table>
</form>

{% endblock content %}

{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}