{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}

{% block title %}{{ block.super }} | Backup & Restore{% endblock title %}
{% block pagetitle %}Backup & Restore{% endblock pagetitle %}

{% block banner %}
{% include "lwt/_banner.html" %}
{% endblock banner %}

{% block content %}
<form enctype="multipart/form-data" action="{% url 'backuprestore'%}" method="post" onsubmit="return confirm('Are you sure?');">
{% csrf_token %}
<table  class="table table-bordered">
<tr>
<!--  BACKING UP -->
<th>Backup</th>
<td>
<p >
The database will be exported to a gzipped SQL file.<br />Please keep this file in a safe place.<br />If necessary, you can recreate the database via the Restore function below.<br />Important: If the backup file is too large, the restore may not be possible (see limits below).</p>
<p >&nbsp;<br /><button class="btn btn-primary" type="submit" name="backingup" value="backingup">Download Backup</button>
</td>
</tr>
<!--  RESTORE FROM BACKUP -->
<tr>
<th>Restore</th>
<td>
<p >
The database will be <b>replaced</b> by the data in the specified backup file<br />(gzipped or normal SQL file, created above).<br /><br /><span class="smallgray">Important: If the backup file is too large, the restore may not be possible.<br />Upload limits (in bytes): <b>post_max_size = <?php echo ini_get('post_max_size'); ?> / upload_max_filesize = <?php echo ini_get('upload_max_filesize'); ?></b><br />
If needed, increase in "<?php echo tohtml(php_ini_loaded_file()); ?>" and restart server.<br />&nbsp;</span></p>
{{ form.restore_file }} 
<p >&nbsp;<br /><span class="red2">YOU MAY LOSE DATA - BE CAREFUL: &nbsp; &nbsp; &nbsp;</span> 
<button  class="btn btn-danger" type="submit" name="restore" value="restore">Restore from Backup</button>
</td>

<!--  RESTORE FROM OLD LWT -->
<tr>
<th>Import data from LWT</th>
<td>
<p >
The data from the LWT will be added to the already existing database.</p>
{{ form.import_oldlwt }} 
<p class="right">&nbsp;<br /><button class="btn btn-primary" type="submit" name="import_oldlwt" value="import_oldlwt">Import data from LWT</button>
</td>
</tr>

<!--  IMPORT LINGL DEMO -->
<tr>
<th >Install<br />LWT<br />Demo</th>
<td >
<p >
The database will be <b>replaced</b> by the LingL demo database.</p>
<p class="right">&nbsp;<br /> 
<button class="btn btn-danger" type="submit" name="install_demo" value="install_demo">Install Demo Database</button>
</td>
</tr>

<!--  EMPTY DATABASE -->
<tr>
<th>Empty<br />Database</th>
<td>
<p >
Empty (= <b>delete</b> the contents of) all tables - except the Settings - of your database.</p>
<p class="right">&nbsp;<br /><span class="red2">YOU MAY LOSE DATA - BE CAREFUL: &nbsp; &nbsp; &nbsp;</span>
<button class="btn btn-danger" type="submit" name="empty" value="empty">Empty Database</button>
</td>
</tr>
</table>
</form>

{% endblock content %}

{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}