{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}

{% block pagetitle %}{% trans 'Backup & Restore' %} | {{ block.super }}{% endblock pagetitle %}

{% block banner %}
{% include "lwt/_banner.html" %}
{% endblock banner %}

{% block content %}
<form id="backuprestore_form" enctype="multipart/form-data" action="{% url 'backuprestore'%}" method="post">
{% csrf_token %}
<table  class="table table-bordered">
<tr>
<!--  BACKING UP -->
<th>{% trans 'Backup' %}</th>
<td>
<div class="d-flex">
	<div class="col-md-6">
	{% trans 'The data from your account will be exported to a gzipped YAML file.<br />Please keep this file in a safe place.<br />If necessary, you can recreate the data via the Restore function below.' %}</p>
	<!--<p>Important: If the backup file is too large, the restore may not be possible (see limits below).</p>-->
	</div>
	<div class="col-md-2">
	 <button id="backingup" class="btn btn-primary" type="submit" name="backingup" value="backingup">{% trans 'Download Backup' %}</button>
	 </div>
	<div class="col-md-2">
	 <button class="btn btn-secondary" onclick="location.href='{% url 'selectivebackup' %}';" type="button" name="selectivebackup" value="selectivebackup">{% trans '(optional) Select words to backup' %}</button>
	</div>
</div>
</td>
</tr>
<!--  RESTORE FROM BACKUP -->
<tr>
<th>{% trans 'Restore' %}</th>
<td>
<p>{% trans 'All data from the specified backup file will be added to your account (gzipped file, created above) (Your already present data are kept).' %}</p>
<div class="d-flex">
	<div class="col-md-9">
<!--    <br /><span class="smallgray">Important: If the backup file is too large, the restore may not be possible.<br />Upload limits (in bytes): <b>post_max_size = <?php echo ini_get('post_max_size'); ?> / upload_max_filesize = <?php echo ini_get('upload_max_filesize'); ?></b><br />-->
<!--If needed, increase in "<?php echo tohtml(php_ini_loaded_file()); ?>" and restart server.<br />&nbsp;</span></p>-->
{{ form.restore_file }}<input type="hidden" name="owner" id="id_owner" value="{{ request.user.id }}"/> 
				<input type="hidden" name="restore_data" id="restore_data" value=""/> 
	</div>
	<div class="col-md-3">
<button id="restore_button" class="btn btn-primary" type="button" name="restore" value="restore"  
		>Restore from Backup</button>
	</div>
</div>
</td>

<!--  RESTORE FROM OTHER SOFTWARES -->
<tr>
<th>{% trans 'Import Personal Save<br />from Other softwares' %}</th>
<td>
<p>{% trans 'The data from other softwares (for ex. from "LWT") will be added to your account (Your own data are kept).' %}</p>
<div class="container">
<table class="table">
	<tr class="row m-0">
		<td class="col-md-1">
			<img src="{% static 'lwt/img/lwt_icon.png' %}" alt="lwt_icon" />
		</td>
		<td class="col-md-7">
{{ form.import_oldlwt }}<!-- <input type="hidden" name="owner" id="id_owner" value="{{ request.user.id }}"/>  -->
		</td>
		<td class="col-md-3">
<button class="restore_othersoft btn btn-primary" type="submit" name="import_oldlwt" value="import_oldlwt">Import data from LWT</button>
		</td>
	</tr>
	<tr class="row m-0">
		<td class="col-md-1">
			<img src="{% static 'lwt/img/lingq_icon.png' %}" alt="lingq_icon" />
		</td>
		<td class="col-md-7">
{{ form.import_lingq }}<input type="hidden" name="owner" id="id_owner" value="{{ request.user.id }}"/> 
		</td>
		<td class="col-md-3">
<button id="import_lingq_btn"  class="btn btn-primary" type="submit" name="import_lingq" value="import_lingq">Import data from LingQ</button>
		</td>
	</tr>
	<tr class="row m-0">
		<td class="col-md-1">
			<img src="{% static 'lwt/img/readlang_icon.png' %}" alt="readlang_icon" />
		</td>
		<td class="col-md-7">
{{ form.import_readlang }}<input type="hidden" name="owner" id="id_owner" value="{{ request.user.id }}"/> 
		</td>
		<td class="col-md-3">
<button class="restore_othersoft btn btn-primary" type="submit" name="import_readlang" value="import_readlang">Import data from Readlang</button>
		</td>
	</tr>
</table>
</div>
</td>
</tr>

<!--  IMPORT LINGL DEMO -->
<tr>
<th >{% trans 'Install<br />LWT Demo' %}</th>
<td >
<div class="d-flex">
	<div class="col-md-9">
{% trans 'The data from the LWT Demo will be added to your account (Your own data are kept)' %}
	</div>
	<div class="col-md-3">
<button id="install_demo" class="btn btn-primary" type="submit" name="install_demo" value="install_demo">{% trans 'Install LingL Demo' %}</button>
	</div>
</div>
</td>
</tr>

<!--  DELETE ACCOUNT -->
<tr>
<th>{% trans 'Delete<br />Your Account' %}</th>
<td>
<div class="d-flex">
	<div class="col-md-9">
<p>{% trans '<b>Delete</b> your account and all the texts, languages associated with it.' %}</p>
<p>{% trans 'YOU LOSE ALL YOUR DATA - BE CAREFUL:' %} &nbsp; &nbsp; &nbsp;</p>
	</div>
	<div class="col-md-3">
<button class="btn btn-danger" type="submit" name="empty" value="empty"  onclick="if (confirm('Are you sure?')){ $('#backuprestore_form').submit();} else {return false;}">Delete My Account</button>
	</div>
</div>
</td>
</tr>
</table>
</form>

<!--  Loadingpopup when clicking on submit button -->
<div id="file_loadingpopup" hidden>
{% trans 'Restoring from your LingL save. Please wait' %}<br>
<div class="text-center"><img src="{% static 'lwt/img/working.gif' %}" alt="working" /></div>
</div>
<div id="restore_othersoft_loadingpopup" hidden>
{% trans 'Converting file from another software to LingL. Please wait' %}<br>
<div class="text-center"><img src="{% static 'lwt/img/working.gif' %}" alt="working" /></div>
</div>
<!--  same but for installing demo -->
<div id="install_demo_loadingpopup" hidden>
{% trans 'Installing demo. Please wait' %}<br>
<div class="text-center"><img src="{% static 'lwt/img/working.gif' %}" alt="working" /></div>
</div>
<!--  same but for backing up -->
<div id="backingup_loadingpopup" hidden>
{% trans 'Preparing backup file. Please wait' %}<br>
<div class="text-center"><img src="{% static 'lwt/img/working.gif' %}" alt="working" /></div>
</div>
{% endblock content %}

{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}

{% block footjavascript %}
<script type="text/javascript">
/* disabled the buttons if no files have been chosen */
function _check_empty_file(file_input, file_button){
	if (file_input[0].files.length == 0){
		file_button.prop('disabled', true);
	} else {
		file_button.prop('disabled', false);
	}
}

$(document).ready( function() { 
	// check when loading the page
	_check_empty_file($('#id_restore_file'), $('button[name="restore"]'))
	_check_empty_file($('#id_import_oldlwt'), $('button[name="import_oldlwt"]'))
	_check_empty_file($('#id_import_lingq'), $('button[name="import_lingq"]'))
	_check_empty_file($('#id_import_readlang'), $('button[name="import_readlang"]'))

	// and trigger the event when choosing a file
	$('#id_restore_file').change(function(e){
		_check_empty_file($('#id_restore_file'), $('button[name="restore"]'))
	});
	$('#id_import_oldlwt').change(function(e){
		_check_empty_file($('#id_import_oldlwt'), $('button[name="import_oldlwt"]'))
	});
	$('#id_import_lingq').change(function(e){
		_check_empty_file($('#id_import_lingq'), $('button[name="import_lingq"]'))
	});
	$('#id_import_readlang').change(function(e){
		_check_empty_file($('#id_import_readlang'), $('button[name="import_readlang"]'))
	});

	// display a loading popup when installing demo
	$('button#install_demo').bind('click', function(){
		display_loading_popup($('#install_demo_loadingpopup'));
	});
	// ... or when installing demo
	$('button#backingup').bind('click', function(){
		display_loading_popup($('#backingup_loadingpopup'));
	});
	// display a loading popup when restoring from other Softwares:
	$('button.restore_othersoft').bind('click', function(){
		display_loading_popup($('#restore_othersoft_loadingpopup'));
	});

	// ...for Lingq, display a warning (LingQ save will be load in the current language)
	$('button#import_lingq_btn').bind('click', function(e){
		e.preventDefault();
		$('<div></div>').appendTo('body')
		.html(gettext('Warning! the LingQ save will be imported in your current language.'))
		.dialog({
			modal: true,
			title: 'Importing from LingQ', zIndex: 10000, autoOpen: true,
			width: 'auto', resizable: false,
			buttons: [ 
						{text: gettext("Start the import"),
						 click: function() {
								$('#backuprestore_form').submit();
								// and display the loading popup
								  $( this ).dialog( "close" );
								display_loading_popup($('#restore_othersoft_loadingpopup'));
								}
							},
						{text: gettext("Cancel"),
						 click: function() {
							  $( this ).dialog( "close" );}
						}
			],
			close: function (event, ui) {
				$(this).remove();
			},
		   // position: {my: "center",  at: "center", of: $("body"),within: $("body") }
		});
	});

	/* when clicking on restore, display a dialogue window to choose whether or not to
	 * restore the Texts also */
	$("#restore_button").click(function (e){
		e.preventDefault();
		$('<div></div>').appendTo('body')
		.html(gettext('Do you want to restore <b>also the text(s)</b> inside the backup, or <b>only the words</b>?<br/>(Restoring the text alongside the words takes more size in the database<br/>and isn\'t useful if you don\'t need to read the same text again)'))
		.dialog({
			modal: true,
			title: 'Restoring from Backup', zIndex: 10000, autoOpen: true,
			width: 'auto', resizable: false,
			buttons: [{text: gettext("Restore only the Words"),
					   click: function() {
							$('#restore_data').val('word');
							$('#backuprestore_form').submit();
							// and display the loading popup
								  $( this ).dialog( "close" );
							display_loading_popup($('#file_loadingpopup'));
							}
						},
						{text: gettext("Restore the Words AND the texts"),
						 click: function() {
							   $('#restore_data').val('word+text');
							   $('#backuprestore_form').submit();
								// and display the loading popup
								  $( this ).dialog( "close" );
								display_loading_popup($('#file_loadingpopup'));
								}
							},
						{text: gettext("Cancel"),
						 click: function() {
							  $( this ).dialog( "close" );}
						}
			],
			close: function (event, ui) {
				$(this).remove();
			},
		   // position: {my: "center",  at: "center", of: $("body"),within: $("body") }
		});
	});
}); //end of $(document).ready...
</script>
{% endblock footjavascript %}
