{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}
{% load crispy_forms_tags %}


	{% block pagetitle %}{% if op == 'new' %}{% trans 'New Language' %}{% elif op == 'edit' %}{% trans 'Edit Language' %}{% endif %} | {{ block.super }}
	{% endblock pagetitle %}


{% block banner %}
{% include "lwt/_banner.html" %}
{% endblock banner %}

{% block javascript %}

<script type="text/javascript" src="{% static 'lwt/js/ajax_language_detail.js' %}" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready( function() { 
	/* used for the editable dropdown menu in the form */
	  $("#list__name_lang.dropdown-menu a").bind('click', function(event) {
		$("input#id_name").val($(this).text());
		ajax_fill_language_detail($(this).attr("data-value"), '{{ origin_lang_code }}');
	  });
	/* same, for the translation uri: */
	  $("#list__dict1uri.dropdown-menu a").bind('click', function(event) {
		$("input#id_dict1uri").val($(this).text());
	  });
	  $("#list__dict2uri.dropdown-menu a").bind('click', function(event) {
		$("input#id_dict2uri").val($(this).text());
	  });
});
</script>
{% endblock javascript %}

{% block stylesheet %}{% endblock stylesheet %}

{% block content %}


{% if all_languages.all %}{# check whether the chosen language has not already been created with same name #}
	<script type="text/javascript">
	var LANGUAGES = { 
			{% for lang in all_languages %}'{{ lang.name}}':{{ lang.id }}{% if not forloop.last %},{% endif %}{% endfor %}
			} 

	function check_dupl_lang(curr) {
		// Check if langname exists and its lang# != curr
		var l = $('#name').val();
		if(l in LANGUAGES) {
			if (curr != LANGUAGES[l]) {
				alert ('Language "' + l + '" exists already. Please change the language name!');
				$('#name').focus();
				return false;
			}
		}
		return true;
	}
	</script>
{% endif %}

<h4>{% if op == 'new' %}<img src="{% static 'lwt/img/icn/new-language_32px.png' %}" title="{% trans "New" %}" alt="New" />  {% trans "New Language" %}
 {% else %}<img src="{% static 'lwt/img/icn/document--pencil_32px.png' %}" alt="edit" />  {% trans "Edit Language" %}{% endif %}</h4>

{% crispy form %}

<!-- 
<div id="extra_field">
{% trans 'Extra Field for this Language (all words in this language will get these additional fields)'%}:<br>
<ul>
{% for extra in extra_field_list %}
	<li>{% for k in extra.keys %}{{ k }}{% endfor %} <a 
	href="{% url 'language_detail'%}?edit={{ lang_id }}&extra_field_del={% for k in extra.keys %}{{ k }}{% endfor %}#extra_field">
					{% trans 'Delete it?'%}</a></li>
{% empty %}
	{% trans 'No extra field defined' %}
{% endfor %}
</ul>

{% trans 'Adding an Extra field :' %}<br>
<form id="extra_fieldform" method="GET" action="{% url 'language_detail' %}#extra_field">
{% trans 'Name of the extra field :'%}<input type="text" name="extra_field_new">
<input type="hidden" name="edit" value="{{ lang_id }}">
<input type="submit" value="{% trans 'Submit' %}">
</form>

</div>
 -->
{% endblock content %}


{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}