{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}

{% block pagetitle %}{% trans "My Languages" %} | {{ block.super }}
{% endblock pagetitle %}

{% block stylesheets %}{{ block.super }}
	<!--  Plugin for Bootstrap-table -->
    <link rel="stylesheet" type="text/css" href="{% static 'lwt/css/bootstrap-table.min.css' %}" />
{% endblock stylesheets %}

{% block banner %}
{% include "lwt/_banner.html" %}
{% endblock banner %}

{% block content %}

		{#  ADDING THE TOOLBAR #}
	<div id="langtable_toolbar" class="btn-group">
		<button id="delete" type="button" class="btn btn-default">
			<i class="fa fa-trash" aria-hidden="true"></i>
		</button>
		<a class="btn btn-default" role="button" href="{% url 'language_detail' %}?new=0"><img src="{% static 'lwt/img/icn/plus-button.png' %}" title="{% trans "New" %}" alt="New" /> {% trans "New Language " %}...</a> 
	</div>

	<table id="lang_table" data-toggle="table" data-sort-name="language" data-sort-order="asc"
								data-search="true"
								data-pagination="true" 
								data-page-size=10
								data-toolbar="#langtable_toolbar"
								data-row-style="rowStyle">
		{# DISPLAYING THE HEADERS #}
	<thead>
	<tr>{% blocktrans %}
	<th data-field="state" data-checkbox="true">
	<th data-field="currentlang">Curr.<br />Lang.</th>
	<th data-field="action">Actions</th>
	<th data-field="language" data-sortable="true">Language</th>
	<th data-field="texts" data-sortable="true">Texts</th>
	<th data-field="terms" data-sortable="true" data-sorter="numberSorter">Terms</th>
	<th data-field="dict1uri">Link to 1st dict</th>
	<th data-field="dict2uri">Link to 2nd dict</th>
	<th data-field="googletranslateuri">Link to Google translate</th>
	</tr>{% endblocktrans %}
	</thead>
	<tbody>
		{# DISPLAYING THE TEXTS THEMSELVES #}
	{% for a_l in all_languages_dict %}

		<tr data-val="{{ a_l.lang.id }}">
		<td></td>	
		<td >{% if a_l.lang.id == currentlang_id %}<img src="{% static 'lwt/img/bullet-green_16x16.png' %}" title="{% trans "This is your curent langugage" %}" alt="Current Language" />
			{% else %}<a href="{% url 'language_list' %}?setcurrentlang={{ a_l.lang.id }}"><img src="{% static 'lwt/img/bullet-grey_16x16.png' %}" 
			title="{% trans "Set as Current Language" %}" alt="Set as Current Language" /></a>{% endif %}</td>
		<td >&nbsp;<a href="{% url 'language_detail' %}?edit={{ a_l.lang.id }}"><img src="{% static 'lwt/img/icn/document--pencil.png' %}" title="{% trans "Edit" %}" alt="Edit" /></a>
			&nbsp; 
			{% if a_l.lang.id == currentlang_id %}
			<img src="{% static 'lwt/img/icn/minus.png' %}" title="{% trans "You can´t delete your current language" %}" alt="no_Delete" />
			{% else %}
			<span class="click" onclick="if (confirm('{% trans "Are you sure? \n** All the texts/Words associated with this language will be deleted also **" %}')) location.href='{% url 'language_list' %}?delete=\[{{ a_l.lang.id }}\]';"><img src="{% static 'lwt/img/icn/minus-button.png' %}" title="{% trans "Delete" %}" alt="Delete" /></span>
			{% endif %}
		&nbsp;</td>
		<td data-val="{{ a_l.lang.name }}">{{ a_l.lang.name }}</td>
		<td >{% if a_l.lang.texthavingthislanguage.count == 0 %}0{% else %}
			<a href="{% url 'text_list' %}?lang={{ a_l.lang.id }}">{{ a_l.lang.texthavingthislanguage.count }}</a>{% endif %}
		</td>
		<td >{% if a_l.word_count > 0 %}<a href="{% url 'term_list' %}?lang={{ a_l.lang.id }}">{{ a_l.word_count }}</a>{% else %}0{% endif %}</td>
		<td >{{ a_l.lang.dict1uri }}</td>
		<td >{{ a_l.lang.dict2uri }}</td>
		<td >{{ a_l.lang.googletranslateuri }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock content %}

{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}


{% block footjavascript %}
	<script type="text/javascript" src="{% static 'lwt/js/_bootstrap-table.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lwt/js/bootstrap-table.js' %}"></script>
		<script type="text/javascript">
 	/* functions to order the numbers inside the bootstrap-table */
	var lang_table = $('#lang_table');

	function getOrder() {
	    return text_table.bootstrapTable('getOptions').sortOrder 
	        === 'asc' ? -1 : 1;
	}
	function numberSorter(a, b) {
		console.log(a);
		var a_search = parseInt(a.match(/">(\d+)/)[1]);
		var b_search = b.match(/\>(\d+)/)[1];
		//console.log(a_search);
	    if (!a_search) return -1 * getOrder();
	    if (!b_search) return 1 * getOrder();
	    if (a_search < b_search) return -1;
	    if (a_search > b_search) return 1;
	    return 0;
	}

	$("button#delete").click(function(){
		 /* function to delete the languages inside the bootstrap-table */
		if (confirm ("{% trans "Are you sure? \n** All the texts/Words associated with this language will be deleted also **" %}"))
		{
			var check = $("input:checked");
			ids_to_delete = [];
			$.each(check, function(){
				var text_id =$(this).parents("tr:first").data("val");
				ids_to_delete.push(text_id);
			});
			if (ids_to_delete.length > 0){
				document.location = '{% url 'language_list' %}?delete='+JSON.stringify(ids_to_delete);
			}
		}
	});
	
	function rowStyle(row, index){
		/* function to highlight the row where it's the currentlang */
		row_name = $.trim(row.language); 
		var td = $('td[data-val="'+row_name+'"]'); // get the td whose we know the name
		var td_parent = td.parents('tr:first'); // get the row parent
		tr_dataval = td_parent.data('val'); // and get the data-val for the row
		if ('{{ currentlang_id }}' == tr_dataval){
		return {classes:'success'};
		} else { 
			return {};
		}
	}
	</script>
{% endblock footjavascript %}