{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}

{% block pagetitle %}{% if request.path == '/export2anki/' %}{% trans "Export to Anki" %}
			{% elif request.path == '/selectivebackup/' %}{% trans "Selective Backup" %}
			{% else %}{% trans "My Words in " %}{{ currentlang_name }}{% endif %} | {{ block.super }}
{% endblock pagetitle %}

{% block stylesheets %}{{ block.super }}
	<!--  Plugin for Bootstrap-table -->
    <link rel="stylesheet" type="text/css" href="{% static 'lwt/css/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lwt/css/bootstrap-table_filter-extension.css' %}" />
{% endblock stylesheets %}

{% block banner %}
{% include "lwt/_banner.html" %}
{% endblock banner %}

{% block content %}
{# FILTERING THE TEXTS #}
<div class="row filtering_word">

	<div class="col-md-3">
{# filter on language #}
<a class="headCaret unstyled" href="#" data-toggle="collapse" data-target="#ul_language">{% trans 'Languages' %} :</a>
<ul id="ul_language" class="collapse show">
	<form id="filterlangform" method="POST" action="{% url 'text_list' %}">
	{% csrf_token %}
	{% for lang in languages %}
	 	{% if lang.id in lang_filter %}
		<input type="checkbox"  checked onclick="termlist_filter();" value="{{ lang.id }}" class="unstyled">
		{% else %}
		<input type="checkbox"  onclick="termlist_filter();" value="{{ lang.id }}" class="unstyled">
		{% endif %}
			 {{ lang.name }}
		 {% if lang.id == currentlang_id %} <img title="{% trans 'it is the current language' %}" 
		  src="{% static 'lwt/img/bullet-green_16x16.png' %}"/>{% else %} <img 
		  onclick="location.href='{% url 'text_list' %}?currentlang_id={{ lang.id }}';" 
		  title="{% trans 'Set it as the current language' %}" src="{% static 'lwt/img/bullet-grey_16x16.png' %}"/>{% endif %}
		  <br>
	{% endfor %}

	</form>
</ul>
<br>

	</div>

{# filter on text #}
	<div class="col-md-3">
<a class="headCaret unstyled" href="#" data-toggle="collapse" data-target="#ul_text">{% trans 'Texts ' %} :</a>
<ul id="ul_text" class="collapse show">
	<form id="filtertextform" method="POST" action="{% url 'text_list' %}">
	{% csrf_token %}
	{% for text in texts %}
		<span language="{{ text.language.id }}" {% if text.language.id not in lang_filter %}class="hidden"{% endif %}>	
		<input type="checkbox" 
		{% if text_filter|length == 0 or text.id in text_filter %}checked{% endif %} 
		onclick="termlist_filter();" value="{{ text.id }}" class="unstyled">
 {{ text.title }}
		<br></span>
	{% endfor %}
	</form>
</ul>
	</div>

{# filter on status #}
	<div class="col-md-3">
<a class="headCaret unstyled" href="#" data-toggle="collapse" data-target="#ul_status">{% trans 'Statuses' %} :</a>
<ul id="ul_status" class="collapse show">
	<form id="filterstatusform" method="POST" action="{% url 'text_list' %}">
	{% csrf_token %}
	{% for status in statuses %}
		<input type="checkbox" 
		{% if status_filter|length == 0 or status.0 in status_filter %}checked{% endif %} 
		onclick="termlist_filter();" value="{{ status.0 }}" class="unstyled">
		 {{ status.1 }}
		  </input><br>
	{% endfor %}
	</form>
</ul>
	</div>

{# filter on wordtag #}
	<div class="col-md-3">
<a class="headCaret unstyled" href="#" data-toggle="collapse" data-target="#ul_wordtag">{% trans 'Tags' %} :</a>
<ul id="ul_wordtag" class="collapse show">
	<form id="filterwordtagform" method="POST" action="{% url 'term_list' %}">
	{% csrf_token %}
	{% if wordtags_list_empty %}{% trans 'Nothing to display'%}{% endif %}
	{% for wt_ls in wordtags_list %} {# loop on a zipped(tag, languages contained in this tag) #}
		<span wordtag="{{ wt_ls.tag.id }}" language="{{ wt_ls.lang }}"
		{% if wt_ls.hidden %}class="hidden"{% endif %}>	
		<input type="checkbox" 
		{% if wordtag_filter|length == 0 %}checked{% endif %} 
		onclick="termlist_filter();" value="{{ wt_ls.tag.id }}" class="unstyled">
		{{ wt_ls.tag.wotagtext }}
		<br></span>
	{% endfor %}
	</form>
</ul>
	</div>

</div>


<div class="row">
{# DISPLAYING THE WORDS #}
		{#  ADDING THE TOOLBAR #}

{# EXPORTING TO ANKI or BACKING UP #}

	<div id="wordtable_toolbar" >
	<form class="form-inline" enctype="multipart/form-data" action=
	{% if request.path == '/export2anki/' %}"{% url 'export2anki_exporter'%}"
	{% elif request.path == '/selectivebackup/' %}"{% url 'selectivebackup_exporter'%}"
	{% else %}{% url 'term_list' %}
	{% endif %} method="post" >
	{% csrf_token %}
	{% if request.path == '/export2anki/' %}
		<button class="btn btn-primary" type="submit" name="export2anki" 
			{% if words_with_state_True == 0 %}disabled{% endif %}>
			{% trans 'Export selected words to Anki' %}</button>
	{% elif request.path == '/selectivebackup/' %}
		<button class="btn btn-primary" type="submit" name="selectivebackup"
			{% if words_with_state_True == 0 %}disabled{% endif %}>
			{% trans 'Backup selected words' %}</button>
	{% else %}
		<button id="delete" type="submit" class="btn btn-default" 
			{% if words_with_state_True == 0 %}disabled{% endif %}>
			<i class="fa fa-trash" aria-hidden="true"></i>
		</button>
	{% endif %}

	<button id="ajax_checkAll" class="btn btn-default">{% trans 'Check All' %}</button>
	<button id="ajax_uncheckAll" class="btn btn-default">{% trans 'Uncheck All' %}</button>
	&nbsp;&nbsp;<span class="alert alert-warning" id="selected_total">
	{% if request.path == '/export2anki/' %}
		{% if words_with_state_True == 0 %}
			{% trans 'Nothing to export...' %}
		{% else %}
			{% blocktrans count counter=words_with_state_True %}
			1 word to export
			{% plural %}
			{{ counter }} words to export
			{% endblocktrans %}
		{% endif %}
	{% elif request.path == '/selectivebackup/' %}
		{% if words_with_state_True == 0 %}
			{% trans 'Nothing to backup...' %}
		{% else %}
			{% blocktrans count counter=words_with_state_True %}
			1 word to backup
			{% plural %}
			{{ counter }} words to backup
			{% endblocktrans %}
		{% endif %}
	{% else %}
		{% if words_with_state_True == 0 %}
			{% trans 'Nothing to delete...' %}
		{% else %}
			{% blocktrans count counter=words_with_state_True %}
			1 word to delete
			{% plural %}
			{{ counter }} words to delete
			{% endblocktrans %}
		{% endif %}
	{% endif %}
	</span>
	</form>
	{% if request.path == '/export2anki/' and request.path == '/selectivebackup/' %}
		<a class="btn btn-default" role="button" href="{% url 'text_detail' %}?new=0"><img src="{% static 'lwt/img/icn/plus-button.png' %}" title="{% trans "New" %}" alt="New" /> {% trans "New Term " %}...</a> 
	{% endif %}
	</div>
	{# end TOOLBAR #}
	
<table id="word_table" data-toggle="table" data-sort-name="created_date" data-sort-order="asc"
							data-search="true"
							data-pagination="true" data-side-pagination="server" 
							data-url="{% url 'load_wordtable' %}"
							data-row-style="rowStyle"
							data-toolbar="#wordtable_toolbar"
						    >
	{# DISPLAYING THE HEADERS #}
	<thead>
	<tr>
	<!--  <th data-field="state" data-checkbox="true"></th>-->
	<th data-field="state" data-checkbox="true">
	{% blocktrans %}
	<th data-field="id" data-sortable="true" data-sorter="numberSorter">id</th>
	<th data-field="status" data-sortable="true" data-sorter="numberSorter">status</th>
	{% endblocktrans %}
	{% if lang_filter|length != 1 %}
	<th data-field="language_name" data-sortable="true">{% trans 'lang.' %}</th>
	{% endif %}
	{% blocktrans %}
	<th data-field="text_title" data-sortable="true">text</th>
	<th data-field="sentence" data-sortable="true">sent.</th>
	<th data-field="wordtext" data-sortable="true">word</th>
	<th data-field="translation" data-sortable="true">trans.</th>
	<th data-field="romanization" data-sortable="true">roman.</th>
	<th data-field="customsentence" data-sortable="true">cust. sent.</th>
	<th data-field="wordtags" data-sortable="true">tags</th>
	<th data-field="compoundword" data-sortable="true">compoundword</th>
	<th data-field="grouper_of_same_words" data-sortable="true">similar word(s)</th>
	<th data-field="modified_date" data-sortable="true" data-sorter="dateSorter">modif. date</th>
	{% endblocktrans %}
	{% for extra in extra_field %}
	<th data-field="{% for k in extra.keys %}{{ k }}{% endfor %}" 
							data-sortable="true">{% for k in extra.keys %}{{ k }}{% endfor %}</th>
	{% endfor %}
	</tr>
	</thead>
</table>

</div>
{% endblock content %}

{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}


{% block footjavascript %}
	<script type="text/javascript" src="{% static 'lwt/js/_bootstrap-table.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lwt/js/_bootstrap-table_filter-extension.js' %}"></script>
	<script type="text/javascript" src="{% static 'lwt/js/lodash_javascript_library.js' %}"></script>
	<script type="text/javascript">
	
/* functions to sort the numbers inside the bootstrap-table */
var word_table = $('#word_table');


function numberSorter(a, b) {
	var a_search = parseInt(a.match(/">(\d+)/)[1]);
	var b_search = b.match(/">(\d+)/)[1];
	if (!a_search) return -1 * getOrder();
	if (!b_search) return 1 * getOrder();
	if (a_search < b_search) return -1;
	if (a_search > b_search) return 1;
	return 0;
}
function dateSorter(a, b) {
	var a_search = a.match(/\"hidden\">(\d+)/)? parseInt(a.match(/\"hidden\">(\d+)/)[1]): 0;
	var b_search = b.match(/\"hidden\">(\d+)/)? parseInt(b.match(/\"hidden\">(\d+)/)[1]): 0
	if (a_search < b_search) return -1;
	if (a_search > b_search) return 1;
	return 0;
}

/* to jump to the given row inside the bootstrap table */
function jumpToRow(page_id, row_id){
	word_table.bootstrapTable('selectPage', page_id);
	// scroll to the row in the page
	var rows = $('#word_table').find('tbody tr');
	var wanted_row = $(rows[row_id]);
	$([document.documentElement, document.body]).animate({
		scrollTop: wanted_row.offset().top
	}, 800);
}

/* check/unckeck all the items */
$(function () {
	/* check/unckeck all the items */
	$('#ajax_checkAll').click(function (event) {
		ajax_select_rows('all', 'check');
		event.preventDefault(); // do not submit the form
	});
	$('#ajax_uncheckAll').click(function (event) {
		ajax_select_rows('none', 'uncheck');
		event.preventDefault(); // do not submit the form
	});
	word_table.on('check.bs.table', function(e, row){
		ajax_select_rows(row['id'], 'check');
	});
	word_table.on('uncheck.bs.table', function(e, row){
		ajax_select_rows(row['id'], 'uncheck');
	});
});
       
/* the button 'delete' then sends the ids by simple GET function */
/*
$("button#delete").click(function(){
	var rows = $('#word_table').bootstrapTable('getSelections');
	//alert(JSON.parse(JSON.stringify($('word_table').bootstrapTable('getSelections'))));
	//var data = JSON.stringify($('word_table').bootstrapTable('getSelections'));
	//var obj = JSON.parse(data);
	//var test = $('word_table');
	//console.log(obj[0].name);
	ids_to_delete = [];
   $.each(rows, function(index, row) {
			 ids_to_delete.push(row.id); //remove the element of the array at the position 'index'
	   });
	if (ids_to_delete.length > 0){
		if (word_need_text_deletion){

			$('<div></div>').appendTo('body')
		   .html(gettext('We can\'t delete Words which are linked to a text.<br/>You need first to delete the text in which this word is.'))
		   .dialog({
			   modal: true,
			   title: gettext('Deletion not possible'), zIndex: 10000, autoOpen: true,
			   width: 'auto', resizable: false,
			   buttons: [
							{text: gettext("Ok"),
							click: function() {
								  $( this ).dialog( "close" );}
							}
				],
			   close: function (event, ui) {
				   $(this).remove();
			   },
			   //position: {my: "center",  at: "center", of: $("body"),within: $("body") }
		   }) // end of dialog box
				
		} else {
			$('<div></div>').appendTo('body')
		   .html(gettext('Confirm Deletion?<br/>Number of words to delete : ')+ids_to_delete.length.toString())
		   .dialog({
			   modal: true,
			   title: gettext('Deleting word(s)'), zIndex: 10000, autoOpen: true,
			   width: 'auto', resizable: false,
			   buttons: [{text: gettext("Yes"),
							click: function() {
					document.location = '{% url 'term_list' %}?del='+JSON.stringify(ids_to_delete);
								}
							},
							{text: gettext("Cancel"),
							click: function() {
								  $( this ).dialog( "close" );}
							}
				],
			   close: function (event, ui) {
				   $(this).remove();
			   },
			   // bug with position and Jquery 3 apparently...
			  //position: {my: "center",  at: "center", of: $("body"),within: $("body") }
		   }); // end of dialog box
		} // end of 'if (word_need_text_deletion)...'
	} // end of 'if (ids_to_delete)...'
});
*/
	</script>
	<script type="text/javascript" src="{% static 'lwt/js/ajax_term_list.js' %}"></script>
{% endblock footjavascript %}
