{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}


{% block pagetitle %}{% if currentlang_id == -1 %}{% trans "My Texts" %}{% else %}{% trans "My Texts in " %}{{ currentlang_name }}{% endif %} | {{ block.super }}
{% endblock pagetitle %}

{% block stylesheets %}{{ block.super }}
	<!--  Plugin for Bootstrap-table -->
    <link rel="stylesheet" type="text/css" href="{% static 'lwt/css/bootstrap-table.min.css' %}" />
{% endblock stylesheets %}

{% block banner %}
{% include "lwt/_banner.html" %}
{% endblock banner %}


{# DISPLAYING THE MESSAGE (WHEN DELETING, CHANGING etc..) #}
{% block content %} 

<div class="row">

{# FILTERING THE TEXTS #}
<div class="col-md-2 filtering_text">

{# filter on language #}
<a class="headCaret unstyled" href="#" data-toggle="collapse" data-target="#ul_language">{% trans 'Languages' %} :</a>
<ul id="ul_language" class="collapse show">
	<form id="filterlangform" method="POST" action="{% url 'text_list' %}">
	{% csrf_token %}
	{% for lang in lang_textIds_list %}
	<input data-textids="{{ lang.txt_set_json }}" type="checkbox" {% if lang.lang.id in lang_filter %}checked{% endif %} onclick="textlist_filter();" value="{{ lang.lang.id }}" class="unstyled">
	 <span class="checkboxitem-bold">{{ lang.lang.name }}</span>
	 {% if lang.lang.id == currentlang_id %} <img title="{% trans 'it is the current language' %}" 
	  src="{% static 'lwt/img/bullet-green_16x16.png' %}"/>{% else %} <img 
	  onclick="location.href='{% url 'text_list' %}?currentlang_id={{ lang.lang.id }}';" 
	  title="{% trans 'Set it as the current language' %}" src="{% static 'lwt/img/bullet-grey_16x16.png' %}"/>{% endif %}
	  <br>
	{% endfor %}

	</form>
	<span id="no_langfilter" class="error text-danger"></span>
</ul>

<br/>

{# filter on texttag #}
<a class="headCaret unstyled" href="#" data-toggle="collapse" data-target="#ul_texttag">{% trans 'Text tags' %} :</a>
<ul id="ul_texttag" class="collapse show">
	<form id="filtertagform" method="POST" action="{% url 'text_list' %}">
	{% csrf_token %}
	{% for tt_ls in texttag_textIds_boldlist %} {# loop on a zipped(tag, languages contained in this tag) #}
		<span texttag="{{ tt_ls.texttag.id }}" language="{{ tt_ls.texttag.lang }}">	
		<input data-textids="{{ tt_ls.txt_set_json }}"  type="checkbox" 
		{% if texttag_filter|length == 0 %}checked{% endif %} 
		onclick="textlist_filter();" value="{{ tt_ls.texttag.id }}" class="unstyled">
		<span class="checkboxitem-{% if tt_ls.bold %}bold{% else %}normal{% endif %}">{{ tt_ls.texttag.txtagtext }}</span>
		<br></span>
	{% endfor %}
	</form>
</ul>

<br/>

{# filter on time #}
<a class="headCaret unstyled" href="#" data-toggle="collapse" data-target="#ul_time">{% trans 'Last time open' %} :</a>
<ul id="ul_time" class="collapse show">
	<form id="timeform" method="POST" action="{% url 'text_list' %}">
	{% csrf_token %}
	{% for ti_ls in time_textIds_boldlist %}
		<span possible_time="{{ ti_ls.time.week }}" text_ids="{{ ti_ls.txt_set_json }}">	
			<input data-textids="{{ ti_ls.txt_set_json }}"  type="checkbox" 
			{% if ti_ls.time.week in time_filter %}checked{% endif %} 
			onclick="textlist_filter();" value="{{ ti_ls.time.week }}" class="unstyled">
		<span class="checkboxitem-{% if ti_ls.bold %}bold{% else %}normal{% endif %}">{{ ti_ls.time.string }}</span>
		<br></span>
	{% endfor %}
	</form>
	<span id="no_timefilter" class="error text-danger">{% ifequal time_filter|length 0 %}{% trans 'No time chosen: no texts will be displayed' %}{% endifequal %}</span>
</ul>

</div>

{# DISPLAYING THE TEXTS #}
<div class="col-md-10 displaying_text">
		{#  ADDING THE TOOLBAR #}
	<div id="texttable_toolbar" class="btn-group">
		<button id="delete" type="button" class="btn btn-default">
			<i class="fa fa-trash" aria-hidden="true"></i>
		</button>
		<a class="btn btn-default" role="button" href="{% url 'text_detail' %}?new=0"><img src="{% static 'lwt/img/icn/plus-button.png' %}" title="{% trans "New" %}" alt="New" /> {% trans "New Text " %}...</a> 
	</div>
    {# Note: the body of the text_table is loaded tx to the 'load_texttable' func, found in `text.py` #}	
	<table id="text_table" data-toggle="table" data-sort-name="title" data-sort-order="asc"
								data-search="true"
								data-pagination="true" data-side-pagination="server" 
								data-url="{% url 'load_texttable' %}"
								data-page-size=10
								data-toolbar="#texttable_toolbar">
		{# DISPLAYING THE HEADERS #}
	<thead>
	<tr>
	<th data-field="id" class="hidden"></th>
	<th data-field="state" data-checkbox="true"></th>
	{% blocktrans %}
	<th data-field="read">Read</th>
	<th data-field="edit">Edit</th>
	{% endblocktrans %}
	{% if count_of_is_strong != 1 %}
	{% if lang_filter|length != 1 %}
	<th data-field="language" data-sortable="true">{% trans 'Lang.' %}</th>
	{% endif %}
	{% endif %}
	<th data-field="title_tag" data-sortable="true">{% trans 'Title [Tags] / Audio:' %}&nbsp;<img src="{% static 'lwt/img/icn/speaker-volume.png' %}" title="{% trans "With Audio" %}" alt="With Audio" />{% trans ', Src.Link:' %}&nbsp;<img src="{% static 'lwt/img/icn/chain.png' %}" title="{% trans "Source Link available" %}" alt="Source Link available" /></th>
	{% blocktrans %}
	<th data-field="total_words" data-sortable="true" data-sorter="numberSorter">Tot.<br />Wo.</th>
	<th data-field="saved_words" data-sortable="true" data-sorter="numberSorter">Saved<br />Wo (incl.Ex)</th>
	<th data-field="unknown_words" data-sortable="true" data-sorter="numberSorter">Unkn.<br />Words</th>
	<th data-field="unknown_words_pc" data-sortable="true" data-sorter="numberSorter">Unkn.<br />(%)</th>
	<th data-field="lastopentime" data-sortable="true" data-sorter="dateSorter">Last<br />open</th>
	{% endblocktrans %}
	</tr>
	</thead>
	</table>

</div>
</div>

{% endblock content %}


{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}


{% block footjavascript %}
	<script type="text/javascript" src="{% static 'lwt/js/_bootstrap-table.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lwt/js/bootstrap-table.js' %}"></script>
		<script type="text/javascript">
 	/* functions to order the numbers inside the bootstrap-table */
	var text_table = $('#text_table');

	function getOrder() {
	    return text_table.bootstrapTable('getOptions').sortOrder 
	        === 'asc' ? -1 : 1;
	}
	function numberSorter(a, b) {
		var a_search = parseInt(a.match(/>(\d+)/)[1]);
		var b_search = parseInt(b.match(/>(\d+)/)[1]);
	    if (!a_search) return -1 * getOrder();
	    if (!b_search) return 1 * getOrder();
	    if (a_search < b_search) return -1;
	    if (a_search > b_search) return 1;
	    return 0;
	}

	function dateSorter(a, b) {
		var a_search = a.match(/\"hidden\">(\d+)/)? parseInt(a.match(/\"hidden\">(\d+)/)[1]): 0;
		var b_search = b.match(/\"hidden\">(\d+)/)? parseInt(b.match(/\"hidden\">(\d+)/)[1]): 0
	    if (a_search < b_search) return -1;
	    if (a_search > b_search) return 1;
	    return 0;
	}

	$("button#delete").click(function(){
		 /* ajax function to delete the text(s) inside the bootstrap-table */
		var check = $("tr.selected");
		//console.log(check);
		ids_to_delete = [];
		$.each(check, function(){
			var text_id =$(this).find('td.hidden').text();
			ids_to_delete.push(text_id);
		});
		if (ids_to_delete.length > 0){
			$('<div></div>').appendTo('body')
            .html(gettext('Confirm Deletion?<br/><input type="checkbox" id="delete_saved_words"/> (optional) delete also text saved words'))
            .dialog({
                modal: true,
                title: gettext('Deleting text(s)'), zIndex: 10000, autoOpen: true,
                width: 'auto', resizable: false,
                buttons: [{text: gettext("Yes"),
							click: function() {
					var delete_saved_words = $('#delete_saved_words:checked').length > 0;
					document.location = '{% url 'text_list' %}?del='+JSON.stringify(ids_to_delete)+'&delete_saved_words='+delete_saved_words;
								}
							},
							{text: gettext("Cancel"),
							click: function() {
								  $( this ).dialog( "close" );}
							}
				],
                close: function (event, ui) {
                    $(this).remove();
                },
               // position: {my: "center",  at: "center", of: $("body"),within: $("body") }
            });
		}
	});
	</script>
	<script type="text/javascript" src="{% static 'lwt/js/ajax_text_list.js' %}"></script>
{% endblock footjavascript %}
