{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}
{% load crispy_forms_tags %}



{% block stylesheets %}{{ block.super }}
	<!--  Plugin for tooltip: tooltipster -->
    <link rel="stylesheet" type="text/css" href="{% static 'lwt/css/tooltipster_css/tooltipster.bundle.min.css' %}" />
{% endblock stylesheets %}

{% block javascript %}{{ block.super }} 
	<script type="text/javascript" src="{% static 'lwt/js/ajax_text_detail.js' %}" charset="utf-8"> </script>
	<!--  Plugin for tooltip: tooltipster -->
	<script type="text/javascript" src="{% static 'lwt/js/tooltipster_js/tooltipster.bundle.min.js' %}"></script>
 {% endblock javascript %}

{% block pagetitle %}{% ifequal op 'new' %}{% trans "Creating a new text" %}{% else %}{% trans "Editing Text : " %}{{ text_title }}"{% endifequal %} | {{ block.super }}
{% endblock pagetitle %}

{% block banner %}
{% include "lwt/_banner.html" %}
{% endblock banner %}

{% block content %}

{% if op == 'new' %}
	<h4>{% trans "New Text : Upload your text file -or- Fill the form " %} </h4>

	{% crispy form_uploaded_text %}
	{% crispy form %}

{% elif op == 'edit' %}
	<h4>{% trans "Edit Text : Modify the text " %} </h4>

<form class="form-horizontal text_detail" method="post" novalidate="novalidate">

	{% crispy form  form.helper_edit1 %}
<div id="div_id_text" class="form-group"> 
	<label for="id_text" class="control-label col-md-3"> text </label> 
	<div class="controls col-md-9"> 
{#   EDITING THE TEXT      #}
{# the 'if wo.order == 0... is to add a space after a delimiter: aering the text! #}
{% for wo in word_inthistext %}{% if wo.isCompoundword and wo.isnotword %}{% else %}{% if wo.isnotword %}<span title="click to insert word(s)"'>{{ wo.wordtext|linebreaksbr }}</span>{% else %}{% if wo.order == 0 and not forloop.first %} {% endif %}<span 
class="mytooltip" data-tooltip-content="#tooltip_content" woid="{{ wo.id }}" wostatus={{ wo.status }} wowordtext="{{ wo.wordtext }}" wotranslation="{{ wo.translation }}" 
woromanization="{{ wo.romanization }}" iscompoundword="{{ wo.isCompoundword }}" show_compoundword="{{ wo.show_compoundword }}" 
{% if wo.isCompoundword %}
cowostatus="{{ wo.compoundword.status }}" cowotranslation="{{ wo.compoundword.translation }}" coworomanization="{{ wo.compoundword.romanization }}" 
{% else %}
cowostatus="" cowotranslation="" coworomanization="" 
{% endif %}
{% if wordtag|length != 0 %} [{{ wordtag|join:"," }}]{% endif %}
>{{ wo.wordtext }}</span>{% endif %}{% endif %}{% endfor %}
{# END -- DISPLAYING THE TEXT #}
 	</div>
</div>

	{% crispy form  form.helper_edit2 %}
</form>
{% endif %}

	<script>
	// override jquery validate plugin defaults
	$.validator.setDefaults({
	    highlight: function(element) {
	        $(element).closest('.form-group').addClass('has-error');
	    },
	    unhighlight: function(element) {
	        $(element).closest('.form-group').removeClass('has-error');
	    },
	    errorElement: 'span',
	    errorClass: 'help-block',
	    errorPlacement: function(error, element) {
	        if(element.parent('.input-group').length) {
	            error.insertAfter(element.parent());
	        } else {
	            error.insertAfter(element);
	        }
	    }
	});
	// pattern for text (using jquery.validate plugin and jquery.validate+additional methods)
	$("form.text_detail").validate({
		rules: {
			text: {pattern: /^.*[^\W\d_].*$/m }
		},
		messages: {
			text: {pattern: gettext('Text should contain characters, not only symbols')}
		}
	})
	</script>
	<!--  Plugin for tooltip: tooltipster -->
	    <script>
        $(document).ready(function() {
        	var mytooltip = $('.mytooltip');
            mytooltip.tooltipster({
				 theme: ['tooltipster-noir', 'tooltipster-noir-customized'],
            	contentCloning: true,
            	trigger: 'hover'
            });
            mytooltip.tooltipster({
				 theme: ['tooltipster-noir', 'tooltipster-noir-customized'],
            	contentCloning: true,
            	trigger: 'click',
				contentAsHTML: true,
				interactive:true,
            	multiple: true
            });
            
            mytooltip.each(function(idx, val){
				var instances = $.tooltipster.instances(val);
				// use the instances to make any method calls on the tooltips
				instances[0].content('click to edit/delete word');
				var clicktooltip_in = '<a href="">Delete word</a><br><form action="">';
				clicktooltip_in += 'Edit word: <input type="text" name="edited_word" value=""><br>';
				clicktooltip_in += '<input type="submit" value="Submit"></form>',
				instances[1].content(clicktooltip_in);
            });


			 // WARNING: calling  methods in the usual way only affects the first tooltip that was created on the element
			 //$('.mytooltip').tooltipster('content', 'New content for my first tooltip') 
        });
    </script>
	

{% endblock content %}   


{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}