[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
altgraph = "*"
beautifulsoup4 = "*"
certifi = "*"
chardet = "*"
defusedxml = "*"
dj-static = "*"
django-allauth = "*"
django-bootstrap3 = "*"
django-crispy-forms = "*"
django-jchart = "*"
django-mathfilters = "*"
django-template-debug = "*"
djangorestframework = "*"
factory-boy = "*"
future = "*"
idna = "*"
iso-639 = "*"
macholib = "*"
mock = "*"
model-mommy = "*"
oauthlib = "*"
optional-django = "*"
pbr = "*"
pefile = "*"
pluggy = "*"
py = "*"
python-dateutil = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
selenium = "*"
six = "*"
static3 = "*"
urllib3 = "*"
virtualenv = "*"
waitress = "*"
xmltodict = "*"
Django = "*"
cx-Freeze = "*"
Faker = "*"
PyInstaller = "*"
Unidecode = "*"
mysqlclient = "*"
pyyaml = "*"

[requires]
