[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mathfilters = "*"
django-allauth = "*"
requests = "*"
beautifulsoup4 = "*"
pyyaml = "*"
mysqlclient = "*"
six = "*"
dj-static = "*"
django-crispy-forms = "*"
django-tags-input = "*"
cx-freeze = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.8"
