altgraph==0.17
asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
cx-Freeze==6.6
defusedxml==0.7.1
dj-static==0.0.6
Django==3.2
django-allauth==0.44.0
django-crispy-forms==1.11.2
django-jchart==0.4.2
django-mathfilters==1.0.0
django-tags-input==5.0.0
idna==2.10
importlib-metadata==4.0.1
mysqlclient==2.0.3
oauthlib==3.1.0
pycparser==2.20
pyinstaller-hooks-contrib==2021.1
PyJWT==2.0.1
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
static3==0.7.0
urllib3==1.26.4
waitress==2.0.0
zipp==3.4.1
