altgraph==0.14
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
cx-Freeze==5.0.2
defusedxml==0.5.0
dj-static==0.0.6
Django==2.1.2
django-allauth==0.38.0
django-bootstrap3==9.0.0
django-crispy-forms==1.7.2
django-jchart==0.4.2
django-mathfilters==0.4.0
django-template-debug==0.3.5
djangorestframework==3.7.3
factory-boy==2.9.2
Faker==0.8.4
future==0.16.0
idna==2.6
iso-639==0.4.5
macholib==1.8
mock==2.0.0
model-mommy==1.4.0
oauthlib==2.0.4
optional-django==0.1.0
pbr==3.1.1
pefile==2017.9.3
pluggy==0.5.2
py==1.4.34
PyInstaller==3.3
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
selenium==3.5.0
six==1.11.0
static3==0.7.0
Unidecode==0.4.21
urllib3==1.22
virtualenv==15.1.0
waitress==1.1.0
xmltodict==0.11.0
