aiohttp==3.7.4.post0
altgraph==0.17
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
cx-Freeze==6.6
defusedxml==0.7.1
dj-static==0.0.6
Django==3.2.3
django-allauth==0.44.0
django-crispy-forms==1.11.2
django-mathfilters==1.0.0
factory-boy==3.2.0
Faker==8.4.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.3.1
multidict==5.1.0
mysqlclient==2.0.3
oauthlib==3.1.0
pycparser==2.20
pyinstaller-hooks-contrib==2021.1
PyJWT==2.1.0
PyMuPDF==1.18.14
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.5.0
selenium==3.141.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.1
static3==0.7.0
text-unidecode==1.3
typing-extensions==3.10.0.0
urllib3==1.26.5
waitress==2.0.0
yarl==1.6.3
zipp==3.4.1
