altgraph
beautifulsoup4
certifi
chardet
cx-Freeze
defusedxml
dj-static
Django
django-allauth
django-bootstrap3
django-crispy-forms
django-jchart
django-mathfilters
django-template-debug
djangorestframework
factory-boy
Faker
future
idna
iso-639
macholib
mock
model-mommy
oauthlib
optional-django
pbr
pefile
pluggy
py
PyInstaller
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
selenium
six
static3
Unidecode
urllib3
virtualenv
waitress
xmltodict
