#wiki .mediaContainer,
#wiki .PopUpMediaTransform {
    position: relative;
    display: block;
}
#wiki .thumb .mediaContainer,
#wiki .thumb .PopUpMediaTransform {
    margin: 0 auto;
}
#wiki #p-lang .uls-settings-trigger {
    background: transparent url(/w/extensions/UniversalLanguageSelector/resources/images/cog-sprite.svg?c3fa1) no-repeat center top;
    border: 0;
    min-height: 16px;
    min-width: 16px;
    float: right;
    cursor: pointer;
}
#wiki #p-lang .uls-settings-trigger::-moz-focus-inner {
    border: 0;
}
#wiki #p-lang .uls-settings-trigger:focus {
    outline: 1px solid #36c;
}
#wiki .skin-vector #p-lang .uls-settings-trigger {
    margin-top: 8px;
}
#wiki #p-lang .uls-settings-trigger:hover {
    background-position: center -16px;
}
#wiki .client-nojs #ca-ve-edit,
#wiki .client-nojs .mw-editsection-divider,
#wiki .client-nojs .mw-editsection-visualeditor,
#wiki .ve-not-available #ca-ve-edit,
#wiki .ve-not-available .mw-editsection-divider,
#wiki .ve-not-available .mw-editsection-visualeditor {
    display: none;
}
#wiki .client-js .mw-content-ltr .mw-editsection-bracket:first-of-type,
#wiki .client-js .mw-content-rtl .mw-editsection-bracket:not(:first-of-type) {
    margin-right: 0.25em;
    color: #54595d;
}
#wiki .client-js .mw-content-rtl .mw-editsection-bracket:first-of-type,
#wiki .client-js .mw-content-ltr .mw-editsection-bracket:not(:first-of-type) {
    margin-left: 0.25em;
    color: #54595d;
}
#wiki .badge-goodarticle,
#wiki .badge-goodlist,
#wiki .badge-recommendedarticle {
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-silver-star.png?70a8c);
}
#wiki .badge-featuredarticle,
#wiki .badge-featuredportal,
#wiki .badge-featuredlist {
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-golden-star.png?ed948);
}
#wiki .badge-problematic {
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-problematic.png?f3177);
}
#wiki .badge-proofread {
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-proofread.png?e81f9);
}
#wiki .badge-validated {
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-validated.png?6232c);
}
#wiki .badge-digitaldocument {
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-digitaldocument.png?d1c50);
}
#wiki body {
    margin: 0;
}
#wiki main {
    display: block;
}
#wiki hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
#wiki abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
@supports (text-decoration: underline dotted) {
    abbr[title] {
        border-bottom: 0;
        text-decoration: underline dotted;
    }
}
#wiki pre,
#wiki code,
#wiki tt,
#wiki kbd,
#wiki samp {
    font-family: monospace, monospace;
}
#wiki sub,
#wiki sup {
    line-height: 1;
}
#wiki img {
    border: 0;
}
#wiki button,
#wiki input,
#wiki optgroup,
#wiki select,
#wiki textarea {
    margin: 0;
}
#wiki button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
#wiki legend {
    color: inherit;
    padding: 0;
}
#wiki .firstHeading:before {
    content: url(/static/images/mobile/copyright/wiktionary-wordmark-en.svg);
    display: block;
    height: 19px;
    left: -9999px;
    line-height: 0;
    margin-bottom: 20px;
    position: absolute;
    width: 107px;
}
#wiki .messagebox,
#wiki .errorbox,
#wiki .warningbox,
#wiki .successbox {
    color: #000;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 1px solid;
    padding: 12px 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}
#wiki .messagebox :only-child,
#wiki .errorbox :only-child,
#wiki .warningbox :only-child,
#wiki .successbox :only-child {
    margin: 0;
}
#wiki .messagebox h2,
#wiki .errorbox h2,
#wiki .warningbox h2,
#wiki .successbox h2 {
    color: inherit;
    display: inline;
    margin: 0 0.5em 0 0;
    border: 0;
    font-size: 1em;
    font-weight: bold;
}
#wiki .messagebox .mw-logevent-loglines li,
#wiki .errorbox .mw-logevent-loglines li,
#wiki .warningbox .mw-logevent-loglines li,
#wiki .successbox .mw-logevent-loglines li {
    font-size: 90%;
}
#wiki .messagebox {
    background-color: #eaecf0;
    border-color: #a2a9b1;
}
#wiki .errorbox {
    background-color: #fee7e6;
    border-color: #d33;
}
#wiki .warningbox {
    background-color: #fef6e7;
    border-color: #fc3;
}
#wiki .successbox {
    background-color: #d5fdf4;
    border-color: #14866d;
}
#wiki .toctogglecheckbox:checked ~ ul {
    display: none;
}
@media screen {
    #wiki html,
    #wiki body {
        height: 100%;
    }
    #wiki :focus {
        outline-color: #3366cc;
    }
    #wiki html {
        font-size: 100%;
    }
    #wiki html,
    #wiki body {
        font-family: sans-serif;
    }
    #wiki ul {
        list-style-image: url(/w/skins/Vector/resources/common/images/bullet-icon.svg?d4515);
    }
    #wiki pre,
    #wiki .mw-code {
        line-height: 1.3;
    }
    #wiki .mw-jump-link:not(:focus) {
        display: block;
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
    }
    #wiki .mw-editsection,
    #wiki .mw-editsection-like {
        font-family: sans-serif;
    }
    #wiki .mw-body h1,
    #wiki .mw-body-content h1,
    .mw-body-content h2 {
        margin-bottom: 0.25em;
        padding: 0;
        font-family: "Linux Libertine", "Georgia", "Times", serif;
        line-height: 1.3;
    }
    #wiki .mw-body h1:lang(ja),
    #wiki .mw-body-content h1:lang(ja),
    #wiki .mw-body-content h2:lang(ja),
    #wiki .mw-body h1:lang(he),
    #wiki .mw-body-content h1:lang(he),
    #wiki .mw-body-content h2:lang(he),
    #wiki .mw-body h1:lang(ko),
    #wiki .mw-body-content h1:lang(ko),
    #wiki .mw-body-content h2:lang(ko) {
        font-family: sans-serif;
    }
    #wiki .mw-body h1:lang(my),
    #wiki .mw-body-content h1:lang(my),
    #wiki .mw-body-content h2:lang(my) {
        line-height: normal;
    }
    #wiki .mw-body h1,
    #wiki .mw-body-content h1 {
        font-size: 1.8em;
    }
    #wiki [id="bodyContent"],
    #wiki .vector-body {
        font-size: 0.875em;
        font-size: calc(1em * 0.875);
        line-height: 1.6;
    }
    #wiki [id="bodyContent"] h1,
    #wiki .vector-body h1 {
        margin-top: 1em;
    }
    #wiki [id="bodyContent"] h2,
    #wiki .vector-body h2 {
        margin-top: 1em;
        font-size: 1.5em;
    }
    #wiki [id="bodyContent"] h3,
    #wiki .vector-body h3,
    #wiki [id="bodyContent"] h4,
    #wiki .vector-body h4,
    #wiki [id="bodyContent"] h5,
    #wiki .vector-body h5,
    #wiki [id="bodyContent"] h6,
    #wiki .vector-body h6 {
        margin-top: 0.3em;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 1.6;
    }
    #wiki [id="bodyContent"] h3,
    #wiki .vector-body h3 {
        font-size: 1.2em;
    }
    #wiki [id="bodyContent"] h3,
    #wiki .vector-body h3,
    #wiki [id="bodyContent"] h4,
    #wiki .vector-body h4 {
        font-weight: bold;
    }
    #wiki [id="bodyContent"] h4,
    #wiki .vector-body h4,
    #wiki [id="bodyContent"] h5,
    #wiki .vector-body h5,
    #wiki [id="bodyContent"] h6,
    #wiki .vector-body h6 {
        font-size: 100%;
    }
    #wiki [id="bodyContent"] .toc h2,
    #wiki .vector-body .toc h2 {
        font-family: sans-serif;
        font-size: 100%;
    }
    #wiki [id="bodyContent"] p,
    #wiki .vector-body p {
        margin: 0.5em 0;
    }
    #wiki [id="bodyContent"] blockquote,
    #wiki .vector-body blockquote {
        border-left: 4px solid #eaecf0;
        padding: 8px 32px;
    }
    #wiki [id="bodyContent"] blockquote > :first-child,
    #wiki .vector-body blockquote > :first-child {
        margin-top: 0;
    }
    #wiki [id="bodyContent"] blockquote > :last-child,
    #wiki .vector-body blockquote > :last-child {
        margin-bottom: 0;
    }
    #wiki .mw-parser-output .external {
        background-image: url(/w/skins/Vector/resources/common/images/external-link-ltr-icon.svg?48e54);
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 13px;
    }
    #wiki .mw-body .mw-indicators {
        font-size: 0.875em;
        line-height: 1.6;
        position: relative;
    }
    #wiki .mw-body .mw-indicator {
        display: inline-block;
    }
    #siteNotice {
        font-size: 0.8em;
    }
    #wiki .mw-portlet h3 {
        display: none;
    }
    #wiki .mw-portlet ul {
        list-style: none none;
        margin: 0;
    }
    #wiki .mw-portlet li {
        margin-left: 0.75em;
        padding-top: 0.5em;
        line-height: 1.16666667;
    }
    #wiki .vector-menu-tabs {
        background-position: left bottom;
        float: left;
        height: 2.5em;
        padding-left: 1px;
    }
    #wiki .vector-menu-tabs h3 {
        display: none;
    }
    #wiki .vector-menu-tabs ul {
        float: left;
        height: 100%;
        list-style: none none;
        margin: 0;
        padding: 0;
    }
    #wiki .vector-menu-tabs li {
        background-image: url(/w/skins/Vector/resources/common/images/tab-normal-fade.png?1cc52);
        background-image: linear-gradient(to top, #77c1f6 0, #e8f2f8 1px, #ffffff 100%);
        background-position: left bottom;
        background-repeat: repeat-x;
        float: left;
        display: block;
        height: 100%;
        margin: 0;
        padding: 0;
        line-height: 1.125em;
        white-space: nowrap;
    }
    #wiki .vector-menu-tabs li a {
        background-position: right bottom;
        color: #0645ad;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        float: left;
        height: 3.07692308em;
        position: relative;
        padding-top: 1.25em;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 0.8125em;
        cursor: pointer;
    }
    #wiki .vector-menu-tabs .new a,
    #wiki .vector-menu-tabs .new a:visited {
        color: #a55858;
    }
    #wiki .vector-menu-tabs .selected {
        background: #ffffff;
    }
    #wiki .vector-menu-tabs .selected a,
    #wiki .vector-menu-tabs .selected a:visited {
        color: #202122;
        text-decoration: none;
    }
    #wiki .vector-menu-tabs .icon a {
        background-position: right bottom;
        background-repeat: no-repeat;
    }
    #wiki @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    #wiki @keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    #wiki .vector-menu-tabs .mw-watchlink.icon a {
        width: 2.15384615em;
        height: 0;
        padding: 3.07692308em 0 0 0;
        overflow: hidden;
    }
    #wiki .vector-menu-tabs .mw-watchlink.icon a:before {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        content: "";
        display: block;
        position: absolute;
        top: 1.07692308em;
        left: 0.38461538em;
        width: 1.23076923em;
        height: 1.23076923em;
    }
    #wiki .vector-menu-tabs #ca-unwatch.icon a:before {
        background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/common/images/unwatch-icon.svg?c5368);
    }
    #wiki .vector-menu-tabs #ca-unwatch.mw-watchlink-temp.icon a:before {
        background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/common/images/unwatch-temp-icon.svg?195f5);
    }
    #wiki .vector-menu-tabs #ca-watch.icon a:before {
        background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/common/images/watch-icon.svg?6ab6f);
    }
    #wiki .vector-menu-tabs #ca-unwatch.icon a:hover:before,
    #wiki .vector-menu-tabs #ca-unwatch.icon a:focus:before {
        background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/common/images/unwatch-icon-hl.svg?5e652);
    }
    #wiki .vector-menu-tabs #ca-unwatch.mw-watchlink-temp.icon a:hover:before,
    #wiki .vector-menu-tabs #ca-unwatch.mw-watchlink-temp.icon a:focus:before {
        background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/common/images/unwatch-temp-icon-hl.svg?f3db6);
    }
    #wiki .vector-menu-tabs #ca-watch.icon a:hover:before,
    #wiki .vector-menu-tabs #ca-watch.icon a:focus:before {
        background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/common/images/watch-icon-hl.svg?9bf90);
    }
    #wiki .vector-menu-tabs #ca-unwatch.icon .loading:before,
    #wiki .vector-menu-tabs #ca-watch.icon .loading:before {
        -webkit-animation: rotate 700ms infinite linear;
        animation: rotate 700ms infinite linear;
        outline: 0;
        cursor: default;
        pointer-events: none;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    #wiki .vector-menu-dropdown {
        direction: ltr;
        float: left;
        cursor: pointer;
        position: relative;
        line-height: 1.125em;
    }
    #wiki .vector-menu-dropdown h3 {
        color: #54595d;
        position: relative;
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 1.25em;
        padding-left: 8px;
        padding-right: 1.84615385em;
        font-size: 0.8125em;
        font-weight: normal;
    }
    #wiki .vector-menu-dropdown h3:after {
        content: "";
        background-image: url(/w/skins/Vector/resources/common/images/arrow-down.svg?9426f);
        background-position: 100% 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0.76923077em;
        right: 8px;
        bottom: 0;
        width: 1.23076923em;
        opacity: 0.84;
    }
    #wiki .vector-menu-dropdown h3:hover,
    #wiki .vector-menu-dropdown h3:focus {
        color: #202122;
    }
    #wiki .vector-menu-dropdown h3:hover:after,
    #wiki .vector-menu-dropdown h3:focus:after {
        opacity: 1;
    }
    #wiki .vector-menu-dropdown .vector-menu-content {
        background-color: #ffffff;
        list-style: none none;
        min-width: 100%;
        position: absolute;
        top: 2.5em;
        left: -1px;
        margin: 0;
        border: 1px solid #a2a9b1;
        border-top-width: 0;
        padding: 0;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        text-align: left;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 100ms;
        transition: opacity 100ms;
        z-index: 3;
    }
    #wiki .vector-menu-dropdown .vector-menu-checkbox:checked ~ .vector-menu-content {
        opacity: 1;
        visibility: visible;
    }
    #wiki .vector-menu-dropdown ul {
        list-style: none;
    }
    #wiki .vector-menu-dropdown li {
        padding: 0;
        margin: 0;
        text-align: left;
        line-height: 1em;
    }
    #wiki .vector-menu-dropdown li a {
        color: #0645ad;
        display: block;
        padding: 0.625em;
        white-space: nowrap;
        cursor: pointer;
        font-size: 0.8125em;
    }
    #wiki .vector-menu-dropdown .selected a,
    #wiki .vector-menu-dropdown .selected a:visited {
        color: #202122;
        text-decoration: none;
    }
    #wiki #mw-head .vector-menu-dropdown h3 {
        background-position: right bottom;
        float: left;
        height: 3.07692308em;
        margin: 0 -1px 0 0;
        padding-right: 1.84615385em;
    }
    #wiki .vector-menu-tabs,
    #wiki .vector-menu-tabs a,
    #wiki #mw-head .vector-menu-dropdown h3 {
        background-image: url(/w/skins/Vector/resources/common/images/tab-separator.png?09d4b);
        background-image: linear-gradient(to bottom, rgba(167, 215, 249, 0) 0, #a7d7f9 100%);
        background-repeat: no-repeat;
        background-size: 1px 100%;
    }
    #wiki .vector-menu-checkbox {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: none;
    }
    #wiki :not(:checked) > .vector-menu-checkbox {
        display: block;
    }
    #wiki .vector-menu-checkbox:focus + h3 {
        outline: dotted 1px;
        outline: auto -webkit-focus-ring-color;
    }
    #wiki .vector-menu-portal {
        margin: 0 0.6em 0 0.7em;
        padding: 0.25em 0;
        direction: ltr;
    }
    #wiki .vector-menu-portal h3 {
        display: block;
        background-image: url(/w/skins/Vector/resources/common/images/portal-separator.png?4ab04);
        background-image: linear-gradient(to right, rgba(200, 204, 209, 0) 0, #c8ccd1 33%, #c8ccd1 66%, rgba(200, 204, 209, 0) 100%);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100% 1px;
        color: #54595d;
        margin: 0.5em 0 0 0.66666667em;
        border: 0;
        padding: 0.25em 0;
        font-size: 0.75em;
        font-weight: normal;
        cursor: default;
    }
    #wiki .vector-menu-portal .vector-menu-content {
        margin-left: 0.5em;
        padding-top: 0;
    }
    #wiki .vector-menu-portal .vector-menu-content ul {
        list-style: none none;
        margin: 0;
        padding-top: 0.3em;
    }
    #wiki .vector-menu-portal .vector-menu-content li {
        margin: 0;
        padding: 0.25em 0;
        font-size: 0.75em;
        line-height: 1.125em;
        word-wrap: break-word;
    }
    #wiki .vector-menu-portal .vector-menu-content li a {
        color: #0645ad;
    }
    #wiki .vector-menu-portal .vector-menu-content li a:visited {
        color: #0b0080;
    }
    #wiki #p-search h3 {
        display: block;
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
    }
    #wiki #simpleSearch {
        position: relative;
        height: 100%;
    }
    #wiki #searchInput {
        background-color: rgba(255, 255, 255, 0.5);
        color: #000000;
        width: 100%;
        height: 2.15384615em;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #a2a9b1;
        border-radius: 2px;
        padding: 5px 2.15384615em 5px 0.4em;
        box-shadow: inset 0 0 0 1px transparent;
        font-family: inherit;
        font-size: 0.8125em;
        direction: ltr;
        -webkit-transition: border-color 250ms, box-shadow 250ms;
        transition: border-color 250ms, box-shadow 250ms;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
    #wiki #simpleSearch:hover #searchInput {
        border-color: #72777d;
    }
    #wiki #searchInput:focus,
    #wiki #simpleSearch:hover #searchInput:focus {
        outline: 0;
        border-color: #3366cc;
        box-shadow: inset 0 0 0 1px #3366cc;
    }
    #wiki #searchInput::-webkit-input-placeholder {
        color: #72777d;
        opacity: 1;
    }
    #wiki #searchInput:-ms-input-placeholder {
        color: #72777d;
        opacity: 1;
    }
    #wiki #searchInput::-moz-placeholder {
        color: #72777d;
        opacity: 1;
    }
    #wiki #searchInput::placeholder {
        color: #72777d;
        opacity: 1;
    }
    #wiki #searchInput::-webkit-search-decoration,
    #wiki #searchInput::-webkit-search-cancel-button,
    #wiki #searchInput::-webkit-search-results-button,
    #wiki #searchInput::-webkit-search-results-decoration {
        display: none;
    }
    #wiki #searchButton,
    #wiki #mw-searchButton {
        background-color: transparent;
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 1px;
        min-width: 28px;
        width: 2.15384615em;
        border: 0;
        padding: 0;
        cursor: pointer;
        font-size: 0.8125em;
        direction: ltr;
        text-indent: -99999px;
        white-space: nowrap;
        overflow: hidden;
        z-index: 1;
    }
    #wiki #searchButton {
        background: no-repeat center / 1.23076923em url(/w/skins/Vector/resources/common/images/search.svg?bbf78);
        opacity: 0.67;
    }
    #wiki #p-logo {
        width: 10em;
        height: 160px;
        margin-bottom: 1em;
    }
    #wiki #p-logo a {
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 10em;
        height: 160px;
        text-decoration: none;
    }
    #wiki .mw-footer {
        direction: ltr;
    }
    #wiki .mw-footer ul {
        list-style: none none;
        margin: 0;
        padding: 0;
    }
    #wiki .mw-footer li {
        color: #202122;
        margin: 0;
        padding: 0.5em 0;
        font-size: 0.75em;
    }
    #wiki #footer-icons {
        float: right;
    }
    #wiki #footer-icons li {
        float: left;
        margin-left: 0.5em;
        line-height: 2;
        text-align: right;
    }
    #wiki #footer-info li {
        line-height: 1.4;
    }
    #wiki #footer-places li {
        float: left;
        margin-right: 1em;
        line-height: 2;
    }
    #wiki #p-personal .vector-menu-content-list {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: baseline;
    }
    #wiki #pt-anonuserpage,
    #wiki #pt-userpage a,
    #wiki #p-user-page a {
        background-image: url(/w/skins/Vector/resources/common/images/user-avatar.svg?b7f58);
        background-repeat: no-repeat;
        background-size: 1.16666667em 1.16666667em;
        padding-top: 0;
        padding-left: 1.5em;
    }
}
@media screen {
    #wiki body {
        background-color: #f6f6f6;
        overflow-y: scroll;
    }
    #wiki .mw-body,
    #wiki .parsoid-body {
        background-color: #ffffff;
        color: #202122;
        direction: ltr;
        padding: 1em;
    }
    #wiki #p-personal {
        position: absolute;
        top: 6px;
        right: 0.75em;
        z-index: 100;
    }
    #wiki #p-personal ul {
        padding-left: 10em;
    }
    #wiki #p-personal li {
        float: left;
    }
    #wiki .mw-body,
    #wiki #mw-data-after-content {
        margin-left: 0;
    }
    #wiki .mw-body {
        margin-top: -1px;
        border: 1px solid #a7d7f9;
        border-right-width: 0;
    }
    #wiki .mw-body .firstHeading {
        overflow: visible;
    }
    #wiki .mw-indicators {
        z-index: 1;
    }
    #wiki [id="bodyContent"],
    #wiki .vector-body {
        position: relative;
        z-index: 0;
    }
    #wiki .mw-parser-output:after {
        content: none;
    }
    #wiki #mw-page-base {
        background-color: #fbfbfb;
        background-image: -webkit-linear-gradient(top, #ffffff 50%, #f6f6f6 100%);
        background-image: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%);
        background-position: bottom left;
        height: 5em;
    }
    #wiki #mw-head-base {
        margin-top: -5em;
        margin-left: 0;
        height: 5em;
    }
    #wiki #mw-navigation h2 {
        position: absolute;
        top: -9999px;
    }
    #wiki #mw-head {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
    #wiki #left-navigation {
        float: left;
        margin-left: 10em;
        margin-top: 2.5em;
        margin-bottom: -2.5em;
    }
    #wiki #right-navigation {
        float: right;
        margin-top: 2.5em;
    }
    #wiki #p-search {
        float: left;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
    #wiki #p-search form {
        margin: 0.5em 0 0;
    }
    #wiki #simpleSearch {
        min-width: 5em;
        width: 13.2em;
        width: 20vw;
        max-width: 20em;
    }
    #wiki #mw-panel {
        position: absolute;
        top: 0;
        width: 10em;
        left: 0;
    }
    #wiki #p-logo + .mw-portlet h3 {
        display: none;
    }
    #wiki .mw-footer {
        margin-left: 0;
        margin-top: 0;
        padding: 0.75em;
    }
    #wiki .vector-menu-dropdown:hover .vector-menu-content {
        opacity: 1;
        visibility: visible;
    }
    #wiki .vector-menu-checkbox:checked + h3:after {
        transform: scaleY(-1);
    }
    #wiki #mw-panel {
        font-size: inherit;
    }
    #wiki #mw-panel nav:first-child {
        background-image: none;
    }
    #wiki #mw-panel nav:first-child h3 {
        display: none;
    }
    #wiki #mw-panel nav:first-child .vector-menu-content {
        margin-left: 0.5em;
    }
    #wiki .vector-user-menu-legacy li,
    #wiki #p-personal li {
        font-size: 0.75em;
    }
    #wiki #pt-anonuserpage,
    #wiki .vector-user-menu-legacy #pt-anonuserpage,
    #wiki .vector-user-menu-legacy #pt-userpage a {
        background-position: left 0.33333333em;
        padding-top: 0.5em;
    }
    #wiki .vector-user-menu-legacy #pt-userpage {
        padding-top: 0;
    }
    #wiki .vector-user-menu-legacy #pt-userpage a {
        display: inline-block;
    }
    #wiki #pt-anonuserpage,
    #wiki .vector-user-menu-legacy #pt-anonuserpage {
        color: #54595d;
    }
}
@media screen and (min-width: 982px) {
    #wiki .mw-body,
    #wiki #mw-head-base,
    #wiki #left-navigation,
    #wiki #mw-data-after-content,
    #wiki .mw-footer {
        margin-left: 0;
    }
    #wiki .mw-body {
        padding: 1.25em 1.5em 1.5em 1.5em;
    }
    #wiki .mw-footer {
        padding: 1.25em;
    }
    #wiki #mw-panel {
        padding-left: 0.5em;
    }
    #wiki #p-search {
        margin-right: 1em;
    }
    #wiki #p-personal {
        right: 1em;
    }
}
#wiki .mw-wiki-logo {
    background-image: url(/static/images/project-logos/enwiktionary.png);
}
@media screen {
    #wiki div.tright,
    #wiki div.floatright,
    #wiki table.floatright {
        clear: right;
        float: right;
    }
    #wiki div.tleft,
    #wiki div.floatleft,
    #wiki table.floatleft {
        float: left;
        clear: left;
    }
    #wiki .mw-content-ltr .thumbcaption {
        text-align: left;
    }
    #wiki .mw-content-ltr .magnify {
        float: right;
    }
    #wiki .mw-content-rtl .thumbcaption {
        text-align: right;
    }
    #wiki .mw-content-rtl .magnify {
        float: left;
    }
    #wiki div.floatright,
    #wiki table.floatright {
        margin: 0 0 0.5em 0.5em;
    }
    #wiki div.floatleft,
    #wiki table.floatleft {
        margin: 0 0.5em 0.5em 0;
    }
    #wiki div.thumb {
        margin-bottom: 0.5em;
        width: auto;
        background-color: transparent;
    }
    #wiki div.thumbinner {
        border: 1px solid #c8ccd1;
        padding: 3px;
        background-color: #f8f9fa;
        font-size: 94%;
        text-align: center;
        overflow: hidden;
    }
    #wiki .thumbimage {
        background-color: #ffffff;
        border: 1px solid #c8ccd1;
    }
    #wiki .thumbcaption {
        border: 0;
        line-height: 1.4em;
        padding: 3px;
        font-size: 94%;
        text-align: left;
    }
    #wiki .magnify {
        float: right;
        margin-left: 3px;
    }
    #wiki .magnify a {
        display: block;
        text-indent: 15px;
        white-space: nowrap;
        overflow: hidden;
        width: 15px;
        height: 11px;
        background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.png?4f704);
        background-image: linear-gradient(transparent, transparent), url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #wiki .thumbborder {
        border: 1px solid #eaecf0;
    }
    #wiki .mw-content-ltr .magnify {
        margin-left: 3px;
        margin-right: 0;
    }
    #wiki .mw-content-ltr .magnify a {
        background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.png?4f704);
        background-image: linear-gradient(transparent, transparent), url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);
    }
    #wiki .mw-content-rtl .magnify {
        margin-left: 0;
        margin-right: 3px;
    }
    #wiki .mw-content-rtl .magnify a {
        background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-rtl.png?a9fb3);
        background-image: linear-gradient(transparent, transparent), url(/w/resources/src/mediawiki.skinning/images/magnify-clip-rtl.svg?38fd5);
    }
    #wiki div.tright {
        margin: 0.5em 0 1.3em 1.4em;
    }
    #wiki div.tleft {
        margin: 0.5em 1.4em 1.3em 0;
    }
    #wiki .mw-body-content:after {
        clear: both;
        content: "";
        display: block;
    }
    #wiki .mw-body-content a.external.free {
        word-wrap: break-word;
    }
    #wiki .mw-body-content .error {
        font-size: larger;
        color: #d33;
    }
    #wiki .rtl .mw-parser-output a.external.free,
    #wiki .rtl .mw-parser-output a.external.autonumber {
        direction: ltr;
        unicode-bidi: embed;
    }
    #wiki .mw-hide-empty-elt .mw-parser-output .mw-empty-elt {
        display: none;
    }
    #wiki .usermessage {
        background-color: #ffce7b;
        border: 1px solid #ffa500;
        color: #000;
        font-weight: bold;
        margin: 2em 0 1em;
        padding: 0.5em 1em;
        vertical-align: middle;
    }
    #wiki #siteNotice {
        position: relative;
        text-align: center;
        margin: 0;
    }
    #wiki #localNotice {
        margin-bottom: 0.9em;
    }
    #wiki #siteSub {
        display: none;
    }
    #wiki #contentSub,
    #wiki #contentSub2 {
        font-size: 84%;
        line-height: 1.2em;
        margin: 0 0 1.4em 1em;
        color: #54595d;
        width: auto;
    }
    #wiki span.subpages {
        display: block;
    }
    #wiki .emptyPortlet {
        display: none;
    }
    #wiki .printfooter,
    #wiki .client-nojs #t-print {
        display: none;
    }
    #wiki .mw-indicators {
        float: right;
    }
    #wiki .mw-editsection {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #wiki .mw-editsection,
    #wiki .mw-editsection-like {
        font-size: small;
        font-weight: normal;
        margin-left: 1em;
        vertical-align: baseline;
        line-height: 1em;
    }
    #wiki .mw-content-ltr .mw-editsection,
    #wiki .mw-content-rtl .mw-content-ltr .mw-editsection {
        margin-left: 1em;
    }
    #wiki .mw-content-rtl .mw-editsection,
    #wiki .mw-content-ltr .mw-content-rtl .mw-editsection {
        margin-right: 1em;
    }
    #wiki a {
        text-decoration: none;
        color: #0645ad;
        background: none;
    }
    #wiki a:not([href]) {
        cursor: pointer;
    }
    #wiki a:visited {
        color: #0b0080;
    }
    #wiki a:active {
        color: #faa700;
    }
    #wiki a:hover,
    #wiki a:focus {
        text-decoration: underline;
    }
    #wiki a:lang(ar),
    #wiki a:lang(kk-arab),
    #wiki a:lang(mzn),
    #wiki a:lang(ps),
    #wiki a:lang(ur) {
        text-decoration: none;
    }
    #wiki img {
        border: 0;
        vertical-align: middle;
    }
    #wiki hr {
        height: 1px;
        background-color: #a2a9b1;
        border: 0;
        margin: 0.2em 0;
    }
    #wiki h1,
    #wiki h2,
    #wiki h3,
    #wiki h4,
    #wiki h5,
    #wiki h6 {
        color: #000;
        margin: 0;
        padding-top: 0.5em;
        padding-bottom: 0.17em;
        overflow: hidden;
    }
    #wiki h1,
    #wiki h2 {
        margin-bottom: 0.6em;
        border-bottom: 1px solid #a2a9b1;
    }
    #wiki h3,
    #wiki h4,
    #wiki h5 {
        margin-bottom: 0.3em;
    }
    #wiki h1 {
        font-size: 188%;
        font-weight: normal;
    }
    #wiki h2 {
        font-size: 150%;
        font-weight: normal;
    }
    #wiki h3 {
        font-size: 128%;
    }
    #wiki h4 {
        font-size: 116%;
    }
    #wiki h5 {
        font-size: 108%;
    }
    #wiki h6 {
        font-size: 100%;
    }
    #wiki p {
        margin: 0.4em 0 0.5em 0;
    }
    #wiki p img {
        margin: 0;
    }
    #wiki ul {
        margin: 0.3em 0 0 1.6em;
        padding: 0;
    }
    #wiki ol {
        margin: 0.3em 0 0 3.2em;
        padding: 0;
        list-style-image: none;
    }
    #wiki li {
        margin-bottom: 0.1em;
    }
    #wiki dt {
        font-weight: bold;
        margin-bottom: 0.1em;
    }
    #wiki dl {
        margin-top: 0.2em;
        margin-bottom: 0.5em;
    }
    #wiki dd {
        margin-left: 1.6em;
        margin-bottom: 0.1em;
    }
    #wiki pre,
    #wiki code,
    #wiki tt,
    #wiki kbd,
    #wiki samp,
    #wiki .mw-code {
        font-family: monospace, monospace;
    }
    #wiki pre,
    #wiki code,
    #wiki .mw-code {
        background-color: #f8f9fa;
        color: #000;
        border: 1px solid #eaecf0;
    }
    #wiki code {
        border-radius: 2px;
        padding: 1px 4px;
    }
    #wiki pre,
    #wiki .mw-code {
        padding: 1em;
        white-space: pre-wrap;
        overflow-x: hidden;
        word-wrap: break-word;
    }
    #wiki table {
        font-size: 100%;
    }
    #wiki fieldset {
        border: 1px solid #2a4b8d;
        margin: 1em 0 1em 0;
        padding: 0 1em 1em;
    }
    #wiki legend {
        padding: 0.5em;
        font-size: 95%;
    }
    #wiki form {
        border: 0;
        margin: 0;
    }
    #wiki textarea {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #c8ccd1;
        padding: 0.1em;
    }
    #wiki .center {
        width: 100%;
        text-align: center;
    }
    #wiki *.center * {
        margin-left: auto;
        margin-right: auto;
    }
    #wiki .small {
        font-size: 94%;
    }
    #wiki table.small {
        font-size: 100%;
    }
    #wiki .mw-content-ltr {
        direction: ltr;
    }
    #wiki .mw-content-rtl {
        direction: rtl;
    }
    #wiki .sitedir-ltr textarea,
    #wiki .sitedir-ltr input,
    #wiki textarea[dir="ltr"][dir="ltr"],
    #wiki input[dir="ltr"][dir="ltr"] {
        direction: ltr;
    }
    #wiki .sitedir-rtl textarea,
    #wiki .sitedir-rtl input,
    #wiki textarea[dir="rtl"][dir="rtl"],
    #wiki input[dir="rtl"][dir="rtl"] {
        direction: rtl;
    }
    #wiki .mw-userlink {
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        unicode-bidi: embed;
    }
    #wiki mark {
        background-color: #ff0;
        color: #000;
    }
    #wiki wbr {
        display: inline-block;
    }
    #wiki input[type="submit"],
    #wiki input[type="button"],
    #wiki input[type="reset"],
    #wiki input[type="file"] {
        direction: ltr;
    }
    #wiki abbr[title],
    #wiki .explain[title] {
        border-bottom: 1px dotted;
        cursor: help;
    }
    #wiki @supports (text-decoration: underline dotted) {
        abbr[title],
        .explain[title] {
            border-bottom: 0;
            text-decoration: underline dotted;
        }
    }
    #wiki span.comment {
        font-style: italic;
        unicode-bidi: -moz-isolate;
        unicode-bidi: isolate;
    }
    #wiki li span.deleted,
    #wiki span.history-deleted {
        text-decoration: line-through;
        color: #72777d;
        font-style: italic;
    }
    #wiki td.mw-label {
        text-align: right;
        vertical-align: middle;
    }
    #wiki td.mw-input {
        text-align: left;
    }
    #wiki td.mw-submit {
        text-align: left;
        white-space: nowrap;
    }
    #wiki a.stub {
        color: #723;
    }
    #wiki a.new,
    #wiki #p-personal a.new {
        color: #d33;
    }
    #wiki a.mw-selflink {
        color: inherit;
        font-weight: bold;
        text-decoration: inherit;
    }
    #wiki a.mw-selflink:hover {
        cursor: inherit;
        text-decoration: inherit;
    }
    #wiki a.mw-selflink:active,
    #wiki a.mw-selflink:visited {
        color: inherit;
    }
    #wiki a.new:visited,
    #wiki #p-personal a.new:visited {
        color: #a55858;
    }
    #wiki .mw-parser-output a.extiw,
    #wiki .mw-parser-output a.external {
        color: #36b;
    }
    #wiki .mw-parser-output a.extiw:visited,
    #wiki .mw-parser-output a.external:visited {
        color: #636;
    }
    #wiki .mw-parser-output a.extiw:active,
    #wiki .mw-parser-output a.external:active {
        color: #b63;
    }
    #wiki .mw-underline-always a {
        text-decoration: underline;
    }
    #wiki .mw-underline-never a {
        text-decoration: none;
    }
    #wiki .plainlinks a.external {
        background: none !important;
        padding: 0 !important;
    }
    #wiki div.tright,
    #wiki div.floatright,
    #wiki table.floatright {
        clear: right;
        float: right;
    }
    #wiki div.tleft,
    #wiki div.floatleft,
    #wiki table.floatleft {
        float: left;
        clear: left;
    }
    #wiki .mw-content-ltr .thumbcaption {
        text-align: left;
    }
    #wiki .mw-content-ltr .magnify {
        float: right;
    }
    #wiki .mw-content-rtl .thumbcaption {
        text-align: right;
    }
    #wiki .mw-content-rtl .magnify {
        float: left;
    }
    #wiki #catlinks {
        text-align: left;
    }
    #wiki .catlinks {
        border: 1px solid #a2a9b1;
        background-color: #f8f9fa;
        padding: 5px;
        margin-top: 1em;
        clear: both;
    }
    #wiki .catlinks ul {
        display: inline;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #wiki .catlinks li {
        display: inline-block;
        line-height: 1.25em;
        border-left: 1px solid #a2a9b1;
        margin: 0.125em 0;
        padding: 0 0.5em;
    }
    #wiki .catlinks li:first-child {
        padding-left: 0.25em;
        border-left: 0;
    }
    #wiki .catlinks li a.mw-redirect {
        font-style: italic;
    }
    #wiki .mw-hidden-cats-hidden,
    #wiki .catlinks-allhidden {
        display: none;
    }
    #mw-credits a {
        unicode-bidi: embed;
    }
    #mw-clearyourcache {
        direction: ltr;
        unicode-bidi: embed;
    }
    #wiki div.patrollink {
        font-size: 75%;
        text-align: right;
    }
    #wiki #mw-revision-info,
    #wiki #mw-revision-info-current,
    #wiki #mw-revision-nav {
        direction: ltr;
    }
    #wiki p.mw-protect-editreasons,
    #wiki p.mw-filedelete-editreasons,
    #wiki p.mw-delete-editreasons {
        font-size: 90%;
        text-align: right;
    }
    #wiki .autocomment,
    #wiki .autocomment a,
    #wiki .autocomment a:visited {
        color: #72777d;
    }
    #wiki span.mw-revdelundel-link,
    #wiki strong.mw-revdelundel-link {
        font-size: 90%;
    }
    #wiki a.new {
        color: #ba0000;
    }
    #wiki .wikitable {
        background-color: #f8f9fa;
        color: #202122;
        margin: 1em 0;
        border: 1px solid #a2a9b1;
        border-collapse: collapse;
    }
    #wiki .wikitable > tr > th,
    #wiki .wikitable > tr > td,
    #wiki .wikitable > * > tr > th,
    #wiki .wikitable > * > tr > td {
        border: 1px solid #a2a9b1;
        padding: 0.2em 0.4em;
    }
    #wiki .wikitable > tr > th,
    #wiki .wikitable > * > tr > th {
        background-color: #eaecf0;
        text-align: center;
    }
    #wiki .wikitable > caption {
        font-weight: bold;
    }
    #wiki .error,
    #wiki .warning,
    #wiki .success {
        font-size: larger;
    }
    #wiki .error {
        color: #d33;
    }
    #wiki .warning {
        color: #ac6600;
    }
    #wiki .success {
        color: #14866d;
    }
    #wiki .mw-infobox {
        border: 2px solid #fc3;
        margin: 0.5em;
        clear: left;
        overflow: hidden;
    }
    #wiki .mw-infobox-left {
        margin: 7px;
        float: left;
        width: 35px;
    }
    #wiki .mw-infobox-right {
        margin: 0.5em 0.5em 0.5em 49px;
    }
    #wiki .visualClear {
        clear: both;
    }
    #wiki .mw-datatable {
        border: 1px solid #a2a9b1;
        border-collapse: collapse;
    }
    #wiki .mw-datatable td,
    #wiki .mw-datatable th {
        border: 1px solid #a2a9b1;
        padding: 0.2em 0.4em;
    }
    #wiki .mw-datatable th {
        background-color: #eaeeff;
    }
    #wiki .mw-datatable td {
        background-color: #fff;
    }
    #wiki .mw-datatable tr:hover td {
        background-color: #eaf3ff;
    }
    #wiki .mw-ajax-loader {
        background-image: url(/w/resources/src/mediawiki.skinning/images/ajax-loader.gif?57f34);
        background-position: center center;
        background-repeat: no-repeat;
        padding: 16px;
        position: relative;
        top: -16px;
    }
    #wiki .mw-small-spinner {
        padding: 10px !important;
        margin-right: 0.6em;
        background-image: url(/w/resources/src/mediawiki.skinning/images/spinner.gif?ca65b);
        background-position: center center;
        background-repeat: no-repeat;
    }
    #wiki .mw-content-ltr ul,
    #wiki .mw-content-rtl .mw-content-ltr ul {
        margin: 0.3em 0 0 1.6em;
        padding: 0;
    }
    #wiki .mw-content-rtl ul,
    #wiki .mw-content-ltr .mw-content-rtl ul {
        margin: 0.3em 1.6em 0 0;
        padding: 0;
    }
    #wiki .mw-content-ltr ol,
    #wiki .mw-content-rtl .mw-content-ltr ol {
        margin: 0.3em 0 0 3.2em;
        padding: 0;
    }
    #wiki .mw-content-rtl ol,
    #wiki .mw-content-ltr .mw-content-rtl ol {
        margin: 0.3em 3.2em 0 0;
        padding: 0;
    }
    #wiki .mw-content-ltr dd,
    #wiki .mw-content-rtl .mw-content-ltr dd {
        margin-left: 1.6em;
        margin-right: 0;
    }
    #wiki .mw-content-rtl dd,
    #wiki .mw-content-ltr .mw-content-rtl dd {
        margin-right: 1.6em;
        margin-left: 0;
    }
    #wiki h1:lang(anp),
    #wiki h1:lang(as),
    #wiki h1:lang(bh),
    #wiki h1:lang(bho),
    #wiki h1:lang(bn),
    #wiki h1:lang(gu),
    #wiki h1:lang(hi),
    #wiki h1:lang(kn),
    #wiki h1:lang(ks),
    #wiki h1:lang(ml),
    #wiki h1:lang(mr),
    #wiki h1:lang(my),
    #wiki h1:lang(mai),
    #wiki h1:lang(ne),
    #wiki h1:lang(new),
    #wiki h1:lang(or),
    #wiki h1:lang(pa),
    #wiki h1:lang(pi),
    #wiki h1:lang(sa),
    #wiki h1:lang(ta),
    #wiki h1:lang(te) {
        line-height: 1.6em !important;
    }
    #wiki h2:lang(anp),
    #wiki h3:lang(anp),
    #wiki h4:lang(anp),
    #wiki h5:lang(anp),
    #wiki h6:lang(anp),
    #wiki h2:lang(as),
    #wiki h3:lang(as),
    #wiki h4:lang(as),
    #wiki h5:lang(as),
    #wiki h6:lang(as),
    #wiki h2:lang(bho),
    #wiki h3:lang(bho),
    #wiki h4:lang(bho),
    #wiki h5:lang(bho),
    #wiki h6:lang(bho),
    #wiki h2:lang(bh),
    #wiki h3:lang(bh),
    #wiki h4:lang(bh),
    #wiki h5:lang(bh),
    #wiki h6:lang(bh),
    #wiki h2:lang(bn),
    #wiki h3:lang(bn),
    #wiki h4:lang(bn),
    #wiki h5:lang(bn),
    #wiki h6:lang(bn),
    #wiki h2:lang(gu),
    #wiki h3:lang(gu),
    #wiki h4:lang(gu),
    #wiki h5:lang(gu),
    #wiki h6:lang(gu),
    #wiki h2:lang(hi),
    #wiki h3:lang(hi),
    #wiki h4:lang(hi),
    #wiki h5:lang(hi),
    #wiki h6:lang(hi),
    #wiki h2:lang(kn),
    #wiki h3:lang(kn),
    #wiki h4:lang(kn),
    #wiki h5:lang(kn),
    #wiki h6:lang(kn),
    #wiki h2:lang(ks),
    #wiki h3:lang(ks),
    #wiki h4:lang(ks),
    #wiki h5:lang(ks),
    #wiki h6:lang(ks),
    #wiki h2:lang(ml),
    #wiki h3:lang(ml),
    #wiki h4:lang(ml),
    #wiki h5:lang(ml),
    #wiki h6:lang(ml),
    #wiki h2:lang(mr),
    #wiki h3:lang(mr),
    #wiki h4:lang(mr),
    #wiki h5:lang(mr),
    #wiki h6:lang(mr),
    #wiki h2:lang(my),
    #wiki h3:lang(my),
    #wiki h4:lang(my),
    #wiki h5:lang(my),
    #wiki h6:lang(my),
    #wiki h2:lang(mai),
    #wiki h3:lang(mai),
    #wiki h4:lang(mai),
    #wiki h5:lang(mai),
    #wiki h6:lang(mai),
    #wiki h2:lang(ne),
    #wiki h3:lang(ne),
    #wiki h4:lang(ne),
    #wiki h5:lang(ne),
    #wiki h6:lang(ne),
    #wiki h2:lang(new),
    #wiki h3:lang(new),
    #wiki h4:lang(new),
    #wiki h5:lang(new),
    #wiki h6:lang(new),
    #wiki h2:lang(or),
    #wiki h3:lang(or),
    #wiki h4:lang(or),
    #wiki h5:lang(or),
    #wiki h6:lang(or),
    #wiki h2:lang(pa),
    #wiki h3:lang(pa),
    #wiki h4:lang(pa),
    #wiki h5:lang(pa),
    #wiki h6:lang(pa),
    #wiki h2:lang(pi),
    #wiki h3:lang(pi),
    #wiki h4:lang(pi),
    #wiki h5:lang(pi),
    #wiki h6:lang(pi),
    #wiki h2:lang(sa),
    #wiki h3:lang(sa),
    #wiki h4:lang(sa),
    #wiki h5:lang(sa),
    #wiki h6:lang(sa),
    #wiki h2:lang(ta),
    #wiki h3:lang(ta),
    #wiki h4:lang(ta),
    #wiki h5:lang(ta),
    #wiki h6:lang(ta),
    #wiki h2:lang(te),
    #wiki h3:lang(te),
    #wiki h4:lang(te),
    #wiki h5:lang(te),
    #wiki h6:lang(te) {
        line-height: 1.4em;
    }
    #wiki ol:lang(azb) li,
    #wiki ol:lang(bcc) li,
    #wiki ol:lang(bgn) li,
    #wiki ol:lang(bqi) li,
    #wiki ol:lang(fa) li,
    #wiki ol:lang(glk) li,
    #wiki ol:lang(kk-arab) li,
    #wiki ol:lang(lrc) li,
    #wiki ol:lang(luz) li,
    #wiki ol:lang(mzn) li {
        list-style-type: persian;
    }
    #wiki ol:lang(ckb) li,
    #wiki ol:lang(sdh) li {
        list-style-type: arabic-indic;
    }
    #wiki ol:lang(hi) li,
    #wiki ol:lang(mai) li,
    #wiki ol:lang(mr) li,
    #wiki ol:lang(ne) li {
        list-style-type: devanagari;
    }
    #wiki ol:lang(as) li,
    #wiki ol:lang(bn) li {
        list-style-type: bengali;
    }
    #wiki ol:lang(or) li {
        list-style-type: oriya;
    }
    #wiki .toc .toctitle {
        direction: ltr;
    }
    #wiki .mw-content-ltr .toc ul,
    #wiki .mw-content-rtl .mw-content-ltr .toc ul {
        text-align: left;
    }
    #wiki .mw-content-rtl .toc ul,
    #wiki .mw-content-ltr .mw-content-rtl .toc ul {
        text-align: right;
    }
    #wiki .mw-content-ltr .toc ul ul,
    #wiki .mw-content-rtl .mw-content-ltr .toc ul ul {
        margin: 0 0 0 2em;
    }
    #wiki .mw-content-rtl .toc ul ul,
    #wiki .mw-content-ltr .mw-content-rtl .toc ul ul {
        margin: 0 2em 0 0;
    }
    #wiki .printfooter {
        display: none;
    }
    #wiki .xdebug-error {
        position: absolute;
        z-index: 99;
    }
    #wiki .mw-editsection {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #wiki .mw-editsection,
    #wiki .mw-editsection-like {
        font-size: small;
        font-weight: normal;
        margin-left: 1em;
        vertical-align: baseline;
        line-height: 1em;
    }
    #wiki .mw-content-ltr .mw-editsection,
    #wiki .mw-content-rtl .mw-content-ltr .mw-editsection {
        margin-left: 1em;
    }
    #wiki .mw-content-rtl .mw-editsection,
    #wiki .mw-content-ltr .mw-content-rtl .mw-editsection {
        margin-right: 1em;
    }
    #wiki sup,
    #wiki sub {
        line-height: 1;
    }
    #wiki .toc,
    #wiki .toccolours {
        border: 1px solid #a2a9b1;
        background-color: #f8f9fa;
        padding: 5px;
        font-size: 95%;
    }
    #wiki .toc {
        display: table;
        padding: 7px;
    }
    #wiki .toc h2 {
        display: inline;
        border: 0;
        padding: 0;
        font-size: 100%;
        font-weight: bold;
    }
    #wiki .toc .toctitle {
        text-align: center;
    }
    #wiki .toc ul {
        list-style: none;
        margin: 0.3em 0;
        padding: 0;
        text-align: left;
    }
    #wiki .toc ul ul {
        margin: 0 0 0 2em;
    }
    #wiki table.toc {
        border-collapse: collapse;
    }
    #wiki table.toc td {
        padding: 0;
    }
    #wiki .tocnumber,
    #wiki .toctext {
        display: table-cell;
        text-decoration: inherit;
    }
    #wiki .tocnumber {
        color: #202122;
        padding-left: 0;
        padding-right: 0.5em;
    }
    #wiki .mw-content-ltr .tocnumber {
        padding-left: 0;
        padding-right: 0.5em;
    }
    #wiki .mw-content-rtl .tocnumber {
        padding-left: 0.5em;
        padding-right: 0;
    }
    #wiki :not(:checked) > .toctogglecheckbox {
        display: inline !important;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    #wiki .toctogglespan {
        font-size: 94%;
    }
    #wiki :not(:checked) > .toctogglespan:before {
        content: " [";
    }
    #wiki :not(:checked) > .toctogglespan:after {
        content: "]";
    }
    #wiki .toctogglelabel {
        cursor: pointer;
        color: #0645ad;
    }
    #wiki .toctogglelabel:hover {
        text-decoration: underline;
    }
    #wiki .toctogglecheckbox:focus + .toctitle .toctogglelabel {
        text-decoration: underline;
        outline: dotted 1px;
        outline: auto -webkit-focus-ring-color;
    }
    #wiki .toctogglecheckbox:checked + .toctitle .toctogglelabel:after {
        content: "show";
    }
    #wiki .toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after {
        content: "hide";
    }
    #wiki .toc .toctitle {
        direction: ltr;
    }
    #wiki .mw-content-ltr .toc ul,
    #wiki .mw-content-rtl .mw-content-ltr .toc ul {
        text-align: left;
    }
    #wiki .mw-content-rtl .toc ul,
    #wiki .mw-content-ltr .mw-content-rtl .toc ul {
        text-align: right;
    }
    #wiki .mw-content-ltr .toc ul ul,
    #wiki .mw-content-rtl .mw-content-ltr .toc ul ul {
        margin: 0 0 0 2em;
    }
    #wiki .mw-content-rtl .toc ul ul,
    #wiki .mw-content-ltr .mw-content-rtl .toc ul ul {
        margin: 0 2em 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    #wiki .mw-wiki-logo {
        background-image: url(/static/images/project-logos/enwiktionary-1.5x.png);
        background-size: 135px auto;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    #wiki .mw-wiki-logo {
        background-image: url(/static/images/project-logos/enwiktionary-2x.png);
        background-size: 135px auto;
    }
}
