/******************************************************************************
     GENERAL (ALL THE PAGES)
******************************************************************************/
.ui-dialog { /* it's the JQuery UI dialog. Bug when using 'position' so I use csss...*/
  position: absolute;
  top: 50%;
  left: 50%;	
	/* allows to display according to the size of the object to center */
  transform: translate(-50%, -50%);
}

.icon_16px {
	max-width: 16px;
}
.hover_pointer{ /* make the element as a link: the cursor becomes a pointer */
	cursor: pointer;
}
/******************************************************************************
     IN _MENU
******************************************************************************/
/* Not working
#anki {
  background: url("../img/anki.ico") no-repeat right center; 
}
*/
/******************************************************************************
     IN TEXT_READ
******************************************************************************/

/* the containers: */
#leftcol {
	height: 100vh;
	overflow: auto;	
}

#rightcol {
	height: 100vh;
	overflow: auto;	
}

#topleft.textread_row {
	height: 22%;
	overflow: auto;
}

#bottomleft.textread_row {
	height: 78%;
	overflow: auto;
	/*padding: 5px;*/ /* else the text is stuck to the screen borders */
}

#topright.textread_row {
	height: 45%;
	overflow: auto;
}

#bottomright.textread_row {
	height: 55%;
	overflow: auto;
}

/* for the iframe */
#bottomright.textread_row iframe{
	height: 100%;
	width: 100%
}
#bottomleft.textread_row iframe{
	height: 100%;
	width: 100%
}

/* the statuses */
todo_wordcount[wostatus="0"] {
	/* for display the TO DO with the word count */
	background-color: #ADDFFF;
}

span[wostatus] { /* status default: for learning */
	background-color: #F5B8A9;
	cursor: pointer;
}

.row_status_0,   
span[wostatus="0"] { /* status default: for unknown */
	background-color: #ADDFFF;
}

.row_status_1, 
.row_status_2,
.row_status_3,
.row_status_4,
.row_status_5,
.row_status_6,
.row_status_7,
.row_status_8,
.row_status_9,
.row_status_10,
span[wostatus="1"], 
span[wostatus="2"],
span[wostatus="3"],
span[wostatus="4"],
span[wostatus="5"],
span[wostatus="6"],
span[wostatus="7"],
span[wostatus="8"],
span[wostatus="9"],
span[wostatus="10"]{
	background-color: #F5B8A9;
}
.row_status_11,
.row_status_12,
.row_status_13,
.row_status_14,
.row_status_15,
.row_status_16,
.row_status_17,
.row_status_18,
.row_status_19,
.row_status_20,
span[wostatus="11"],
span[wostatus="12"],
span[wostatus="13"],
span[wostatus="14"],
span[wostatus="15"],
span[wostatus="16"],
span[wostatus="17"],
span[wostatus="18"],
span[wostatus="19"],
span[wostatus="20"]{
	background-color: #f4beb1;
}
.row_status_21,
.row_status_22,
.row_status_23,
.row_status_24,
.row_status_25,
.row_status_26,
.row_status_27,
.row_status_28,
.row_status_29,
.row_status_30,
span[wostatus="21"],
span[wostatus="22"],
span[wostatus="23"],
span[wostatus="24"],
span[wostatus="25"],
span[wostatus="26"],
span[wostatus="27"],
span[wostatus="28"],
span[wostatus="29"],
span[wostatus="30"] {
	background-color: #f4c4b9;
}
.row_status_31,
.row_status_32,
.row_status_33,
.row_status_34,
.row_status_35,
.row_status_36,
.row_status_37,
.row_status_38,
.row_status_39,
.row_status_40,
span[wostatus="31"],
span[wostatus="32"],
span[wostatus="33"],
span[wostatus="34"],
span[wostatus="35"],
span[wostatus="36"],
span[wostatus="37"],
span[wostatus="38"],
span[wostatus="39"],
span[wostatus="40"]{
	background-color: #f4cbc1;
}
.row_status_41,
.row_status_42,
.row_status_43,
.row_status_44,
.row_status_45,
.row_status_46,
.row_status_47,
.row_status_48,
.row_status_49,
.row_status_50,
span[wostatus="41"],
span[wostatus="42"],
span[wostatus="43"],
span[wostatus="44"],
span[wostatus="45"],
span[wostatus="46"],
span[wostatus="47"],
span[wostatus="48"],
span[wostatus="49"],
span[wostatus="50"]{
	background-color: #f3d1c9;
}
.row_status_51,
.row_status_52,
.row_status_53,
.row_status_54,
.row_status_55,
.row_status_56,
.row_status_57,
.row_status_58,
.row_status_59,
.row_status_60,
span[wostatus="51"],
span[wostatus="52"],
span[wostatus="53"],
span[wostatus="54"],
span[wostatus="55"],
span[wostatus="56"],
span[wostatus="57"],
span[wostatus="58"],
span[wostatus="59"],
span[wostatus="60"]{
	background-color: #f3d8d1;
}
.row_status_61,
.row_status_62,
.row_status_63,
.row_status_64,
.row_status_65,
.row_status_66,
.row_status_67,
.row_status_68,
.row_status_69,
.row_status_70,
span[wostatus="61"],
span[wostatus="62"],
span[wostatus="63"],
span[wostatus="64"],
span[wostatus="65"],
span[wostatus="66"],
span[wostatus="67"],
span[wostatus="68"],
span[wostatus="69"],
span[wostatus="70"]{
	background-color: #f3ded9;
}
.row_status_71,
.row_status_72,
.row_status_73,
.row_status_74,
.row_status_75,
.row_status_76,
.row_status_77,
.row_status_78,
.row_status_79,
.row_status_80,
span[wostatus="71"],
span[wostatus="72"],
span[wostatus="73"],
span[wostatus="74"],
span[wostatus="75"],
span[wostatus="76"],
span[wostatus="77"],
span[wostatus="78"],
span[wostatus="79"],
span[wostatus="80"]{
	background-color: #f2e5e1;
}
.row_status_81,
.row_status_82,
.row_status_83,
.row_status_84,
.row_status_85,
.row_status_86,
.row_status_87,
.row_status_88,
.row_status_89,
.row_status_90,
span[wostatus="81"],
span[wostatus="82"],
span[wostatus="83"],
span[wostatus="84"],
span[wostatus="85"],
span[wostatus="86"],
span[wostatus="87"],
span[wostatus="88"],
span[wostatus="89"],
span[wostatus="90"]{
	background-color:#f2ebe9;
}
.row_status_91,
.row_status_92,
.row_status_93,
.row_status_94,
.row_status_95,
.row_status_96,
.row_status_97,
.row_status_98,
.row_status_99,
.row_status_100,
span[wostatus="91"],
span[wostatus="92"],
span[wostatus="93"],
span[wostatus="94"],
span[wostatus="95"],
span[wostatus="96"],
span[wostatus="97"],
span[wostatus="98"],
span[wostatus="99"],
span[wostatus="100"] { /* status for well-known */
	background-color: #F2F2F2;
	/*border-bottom: dashed 1px #D6FFD6;*/
}

.row_status_101,
span[wostatus="101"] { /* status for ignored */
	background-color: #F8F8F8;
	border-bottom: dashed 1px #000000;
}
/* if it's a compoundword, it supersedes the word status itself */
span[show_compoundword="True"]::before,
span[show_compoundword="true"]::before { /* add a little dot before the compoundword */
	content: '\2022';
}
span[show_compoundword="True"], 
span[show_compoundword="true"] 
{ /* compoundword status default: for learning */
	background-color: #F5B8A9;
}

span[show_compoundword="True"][cowostatus="100"],
span[show_compoundword="true"][cowostatus="100"] 
{ /* compoundword status for well-known */
	background-color: #F2F2F2;
	/* border-bottom: dashed 1px #CCFFCC;*/
}

span[show_compoundword="True"][cowostatus="101"], 
span[show_compoundword="true"][cowostatus="101"] 
{ /* compoundword status for ignored */
	background-color: #F8F8F8;
	border-bottom: dashed 1px #000000;
}


/* Used inside the termform.html: make the possible similar word as 'green'when they have been chosen */
.chosen_similarword {
	border: solid #CCFF99;
	border-width: medium;
}

/*  Boostrap 4 */
/* Remove blue outline from button */

.btn:focus, .btn:active {
  box-shadow: none;
}

/* disable the link inside iframe */
/* not working...
.iframe_container {
	background: transparent; 
}
.nolink_iframe { 
	z-index: -2; 
}
*/

/* restyle the tags-input in the termform */
#topright #id_wordtags_tags_input_tagsinput {
	width: auto !important;
	height: auto !important;
}
/***********Inside the iframe *****************************/
/* inside the iframe (used for doc file) 
 we use a condensed, narrow font since the font found by PyMUpdf is too big by default (especially on Firefox)
 + the default is span (white-space: pre} which makes line return after each split words */
span { 
	font-family: "Times New Roman" !important;
} 
span.webpage_done { 
	white-space: normal !important;
}
/*********** in termform.html ************/ 
/* don't display if the status of the word is not unknown */
.hidden { 
	display: none;
}
/* collapsing the 'show sentences' and 'show similar words'*/
div.headPlus:before {
	font-family: FontAwesome;
	content: "\f147 \00a0"; /* Minus sign */
}
div.headPlus.collapsed:before {
	font-family: FontAwesome;
	content: "\f196 \00a0"; /* Plus sign */
}

/* highlight the field "result possible similar words" or the "bottom right" dictionary */
.sim_OR_dict_highlight {
		border-style: solid;
		border-width: 2px;
		border-color: red;
		padding: 2px;
		box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
}
#result_possiblesimilarword ul {
    padding-left: 1px !important;
    margin-left: 0px !important;
}

/************** the word Tooltip ****************/
/* because bootstrap is modifying the 'table' of overlibDiv, unset it :*/
div#overlibDiv table  tbody tr td table:nth-child(1){
	background-color: #333399;
	border: 0.3px solid black;
}

div#overlibDiv table  tbody tr td table:nth-child(2){
	background-color: #FFFFE8;
	border: 0.3px solid black;
}

/* change the css when the word has been clicked */
/* NOT USED
.firstword { 
	border-style: solid;
	border-width: 2px;
	border-color: #FFC8C8;
}
*/

/* change the css when the word has been clicked */
.clicked {
	border-style: solid;
	border-width: 2px;
	border-color: red;
}

.ctrlclicked {
	border-style: solid;
	border-width: 2px;
	border-color: green;
}

/******************************************************************************
     IN TEXT_LIST
******************************************************************************/
a.unstyled, a.unstyled:link, a.unstyled:hover {
	/*color: inherit;*/
	text-decoration: inherit;
}

a.headCaret.collapsed:before {
	font-family: FontAwesome;
	content: "\f0da \00a0"; /* caret right */
}
a.headCaret:before {
	font-family: FontAwesome;
	content: "\f0d7 \00a0"; /* caret down */
}

.currentlang {
	background: url("../img/bullet-green_16x16.png") 100%  no-repeat ; /* not working? */
}
.no_currentlang {
	background: url("../img/bullet-grey_16x16.png") 100%   no-repeat; /* NOt working?? */
}

.archived {
	opacity: 0.4;
}

.checkboxitem-normal{
	opacity: 0.6; 	
}
.checkboxitem-bold{
  font-weight: bold;	
}
/******************************************************************************
     IN TEXT_DETAIL
******************************************************************************/

.tooltip_templates { /*so that the content does not get displayed outside of the tooltip.*/
	display: none; 
	} 
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	background: white;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
	color: grey;
}

.noword_tooltip:hover, .word_tooltip:hover{
	border: solid red;
	border-width: medium;	
}

.disabled_form{
	opacity: 0.6;
	pointer-events: none;
}
/******************************************************************************
     IN LANGUAGE_DETAIL
*******************************************************************************/

/******************************************************************************
     IN TERM_LIST
******************************************************************************/
#word_table.table td, #word_table.table th {
    border-top: 1px solid #a4a4a5;
}
/******************************************************************************
     IN helppage
*******************************************************************************/
.shortcut_table .key {
	background: url("/static/lwt/img/keyboard_key_blank.png") 100%  no-repeat ; 
	width: 32px;
	height: 32px;
}

.shortcut_table .shift, .shortcut_table .alt {
	background: url("/static/lwt/img/keyboard_key_blank.png")  no-repeat !important; 
	width: 50px !important;
	background-size: 100% 100%  !important; 
}
/******************************************************************************
     IN STATISTICS
******************************************************************************/
canvas#chart-wordnumber {
	height: 250px !important;
/* 	width: 800px !important; */
}
canvas#chart-wordnumber_cumul {
	height: 250px !important;
/* 	width: 800px !important; */
}
/* canvas#chart-statusnumber { */
/* 	height: 300px !important; */
/* 	width: 300px !important; */
/* } */
