{% extends "lwt/__baseSkeleton.html" %}
{% load static %}
{% load i18n %} {# used for internationalization #}
{% load crispy_forms_tags %}
{% load account socialaccount %}


{% block title %}Sign Up{% endblock title %}

{% block stylesheets %}{{ block.super }}
{% endblock stylesheets %}

{% block javascript %}{{ block.super }} 
 {% endblock javascript %}

{% block pagetitle %}{% trans 'Sign Up' %} | {{ block.super }}

{% endblock pagetitle %}

{% block banner %}
{% include "lwt/_bannerleft.html" %}
{% endblock banner %}


{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  {% crispy form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
<!-- <script type="text/javascript"> 
// make the field 'is_subscribed' enabled when there's text inside email 
$(document).ready(function(e) { 
	$('input[name="email"]').on('input', function(){ 
		if($(this).val() != ''){ 
			$('input[name="is_subscribed"]').prop('disabled', false); 
			$('input[name="is_subscribed"]').prop('checked', true); 
		} else { 
			$('input[name="is_subscribed"]').prop('disabled', true); 
			$('input[name="is_subscribed"]').prop('checked', false); 
		} 
	}); 

}); 
</script>	--> 
{% endblock content %}

{% block footlicence %}
{% include "lwt/_footlicence.html" %}
{% endblock footlicence %}